<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모임 상세페이지</title>
    <link rel="stylesheet" href="/css/community/detail.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<style>
    *{
        font-family: "Noto Sans KR" !important;
    }
</style>
<body>
<div th:if="${session.userId}">
    <header th:replace="/app/fix/header.html :: header"/>
</div>
<div th:unless="${session.userId}">
    <header th:replace="/app/fix/headerModify.html:: header"/>
</div>
    <!--시작 부분-->
    <div class="ProductDetailPage__Wrapper-sc-126q1k2-0 CijWU">
        <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
            <div class="ProductDetailPage__ContentWrapper-sc-126q1k2-1 eNYAxQ">
                <div class="ProductDetailPage__ProductDetailContainer-sc-126q1k2-2 jAFMyC" th:object="${groupDTO}">
                    <div class="HeadSection__Wrapper-ty4t88-0 fZHPAt">
                        <div class="RepresentationImageSection__Wrapper-mdp59s-0 cTEgEx">
                            <div class="ImageSlider__SliderWrapper-sc-1obm2ug-0 dueCVJ">
                                <div class="slick-slider ImageSlider__StyledSlider-sc-1obm2ug-1 cOsMnB slick-initialized" dir="ltr">
                                    <div class="slick-list">
                                        <div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px); width: 2625px;">
                                            <div data-index="5" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 375px;">
                                                <div>
                                                    <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                                        <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                                            <div class="Ratio " style="display: block;">
                                                                <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                                    <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                                        <img class="Image__StyledImage-v97gyx-1 VUNpz" width="768" th:src="@{/host/display(fileName=${groupDTO.groupFilePath} + '/' + ${groupDTO.groupFileUuid} + '_' + ${groupDTO.groupFileName})}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--썸네일 옆 요약 설명 부분-->
                        <div class="HeadSection__InfoSectionWrapper-ty4t88-1 iCZkhh">
                            <section class="Section__Wrapper-sc-15fmp0p-0 kfLoin BasicInfoSection-sc-1f238bn-0 dZdXkF">
                                <div class="BasicInfoSection__TitleWrapper-sc-1f238bn-2 cSlmkE">
                                    <div class="BasicInfoSection__Row-sc-1f238bn-1 lgXxUu">
                                        <hgroup class="BasicInfoSection__TitleContainer-sc-1f238bn-3 rUBYB">
                                            <!--제목-->
                                            <h1 th:text="*{groupName}" class="BasicInfoSection__Title-sc-1f238bn-5 cWsrnE" style="margin-bottom:5px;"></h1>
                                        </hgroup>
                                        <div class="BasicInfoSection__ActionButtonContainer-sc-1f238bn-6 fOXNjA">
                                            <!--게시글 작성 당사자일 경우에만 상단 도시락 버튼이 나옴-->
                                            <button th:if="${session.userId == groupDTO.userId}" class="Profile__MoreButton-sc-14xkqhl-6 lbwitP">
                                                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='17' viewBox='0 0 4 17'%3E %3Cpath fill='%23999' fill-rule='evenodd' d='M1.57 14a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0-7a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0-7a1.5 1.5 0 110 3 1.5 1.5 0 010-3z'/%3E %3C/svg%3E" alt="">
                                            </button>
                                        </div>
                                        <!-- 수정,삭제 모달-->
                                        <div class="loungeCardContentsComponents_loungeContentsMoreButtonBox__2jERo">
<!--                                            <button class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 postUpdate_1j">수정</button>-->
<!--                                            <button class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 postDelete_1j">삭제</button>-->
                                            <div class="selectBox2 exchange_filter_1h active" style="display: block;">
                                                <ul class="optionList">
                                                    <input type="hidden" class="exchange_filter_input" value="교환 일기">
                                                    <li class="optionItem" style="border-bottom: 1px solid rgb(220 215 215);">
                                                        <a class="goUpdate" th:href="*{groupId}">수정</a>
                                                    </li>
                                                    <li class="optionItem">
                                                        <a class="goDelete" th:href="*{groupId}">삭제</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--참여 포인트-->
                                <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                    <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                        참여 포인트: <span th:text="*{groupPoint}" class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL"></span>
                                    </div>
                                </div>
                                <!--카테고리-->
                                <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                    <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                        카테고리: <span th:text="*{groupCategory}" class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL">놀기</span>
                                    </div>
                                </div>
                                <!--모집 인원-->
                                <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                    <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                        모집 인원: <span th:text="|*{minMember} ~ *{maxMember}명|" class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL"></span>
                                    </div>
                                </div>
                                <!--지역-->
                                <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                    <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                        장소: <span th:text="|*{groupLocationName} *{groupLocation} *{groupLocationDetail}" class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL"></span>
                                    </div>
                                </div>
                                <!--주차 가능 여부-->
                                <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                    <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                        주차 가능 여부: <span th:text="|*{groupParkingAvailable}(*{groupMoreInformation})|" class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL"></span>
                                    </div>
                                </div>
                                <!--기간--> <!--이건 그룹 스케줄을 완성하고 다시 작성-->
                                <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                    <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                        기간: <span class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL">12월 2일~12월10일</span>
                                    </div>
                                </div>
                            </section><section class="Section__Wrapper-sc-15fmp0p-0 kfLoin HostProfileSection__SectionWrapper-sc-1408l89-0 jFAUTZ">
                            <div class="Profile__Wrapper-sc-18xe7ny-0 gVwBVO">
                                <div class="Profile-sc-18xe7ny-1 hZQCDJ">
                                    <div class="Profile__Info-sc-18xe7ny-2 ixjLkJ">
                                        <div class="Profile__ProfileImage-sc-18xe7ny-3 hEglGi">
                                            <a href="">
                                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="56" height="56" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_56/mosawXKomb_1559867469010">
                                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                                        <div class="Ratio " style="display: block;">
                                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                                    <!--유저 프로필 사진--> <!--사진 없을 때 들어갈 디폴트 이미지도 있어야함-->
                                                                    <img alt="호스트 프로필 이미지" class="Image__StyledImage-v97gyx-1 VUNpu" width="56" height="56" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_56/mosawXKomb_1559867469010">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="Profile__ProfileContent-sc-18xe7ny-5 fMiunS">
                                            <div class="Profile__HostNameWrapper-sc-18xe7ny-6 jYAYJP">
                                                <!--유저 정보--> <!--유저 정보 받은 후에 넣기-->
                                                <span class="Profile__NickName-sc-18xe7ny-7 cZgpqN">
                                                <!--유저 닉네임-->
                                                    <span th:text="*{userNickName}"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        </div>
                    </div>
                    <section class="ProductDetailPage__SectionContainer-sc-126q1k2-4 cGKzvC"></section>
                    <div class="ProductDetailPage__SectionWrapper-sc-126q1k2-3 jLKVwS">
                        <section class="ProductDetailPage__SectionContainer-sc-126q1k2-4 bremOa">
                            <article>
                                <header class="Article__Header-sc-1mmkltm-0 blaApX">
                                    <hgroup>
                                        <h2 class="Article__Title-sc-1mmkltm-1 bZNoYF">모임 소개</h2>
                                    </hgroup>
                                </header>

                                <!--본문 내용-->
                                <div class="DescriptionSection__DescriptionContainer-sc-1vvzceq-0 edqUZK">
                                    <!--본문 스타일 변동시킬 수 있는 부분-->
                                    <style type="text/css">
                                        .product-description {
                                            padding: 0 20px;
                                            margin: 0;
                                        }
                                        .product-description img {
                                            width: calc(100% + 40px);
                                            max-width: calc(100% + 40px);
                                            margin-left: -20px;
                                        }
                                        .product-description li {
                                            list-style-position: inside;
                                        }
                                        .product-description p {
                                            margin: 0;
                                        }
                                        .product-description span.fr-emoticon.fr-emoticon-img {
                                            min-width: 20px;
                                            min-height: 20px;
                                            display: inline-block;
                                        }
                                    </style>
                                    <!--본문 내용-->
                                    <div th:utext="*{groupContent}" class="product-description"></div>
                                </div>
                                <div class="DescriptionSection__ButtonContainer-sc-1vvzceq-1 dvQeHx">
                                    <button type="button" class="ButtonMore__Button-sc-1xa20cg-0 jJfiPr">
                                        <span>상세정보 더보기</span>
                                        <div class="ButtonMore__IconContainer-sc-1xa20cg-1 QiNdM">
                                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E %3Cpath fill='%23333' fill-rule='evenodd' d='M3.21 5.203c.28-.27.735-.27 1.015 0L8.5 9.329l4.275-4.126c.28-.27.735-.27 1.015 0 .28.27.28.708 0 .979l-4.783 4.615c-.28.27-.734.27-1.014 0L3.21 6.182c-.28-.27-.28-.709 0-.98z' clip-rule='evenodd'/%3E %3C/svg%3E" alt="상세정보 arrow icon">
                                        </div>
                                    </button>
                                </div>
                            </article>
                        </section>
                    </div>

                    <!--유의사항, 환불정책-->
                    <section class="ProductDetailPage__SectionContainer-sc-126q1k2-4 bremOa">
                        <!--유의사항-->
                        <article>
                            <div class="LinkAccordion__AccordionContainer-sc-1o112j5-1 cJPEOD">
                                <div class="Accordion__Container-sc-1jd6vdl-0 eGMegW">
                                    <div>
                                        유의 사항
                                    </div>
                                <div class="Accordion__IconContainer-sc-1jd6vdl-1 kOAmkm">
                                    <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="Arrcodion arrow" class="Accordion__IconArrow-sc-1jd6vdl-2 ewyXrB">
                                </div>
                                </div>
                                <div class="Accordion__Content-sc-1jd6vdl-3 zRWUs">
                                    · 최소 인원 미달로 인해 진행이 취소될 경우, 신청 마감 일시에 진행 취소 안내를 드리며 참가비는 전액 환불해 드립니다.
                                </div>
                            </div>
                        </article>
                        <!--환불정책-->
                        <article>
                            <div class="LinkAccordion__AccordionContainer-sc-1o112j5-1 cJPEOD">
                                <div class="Accordion__Container-sc-1jd6vdl-0 eGMegW">
                                    <div>
                                        환불 정책
                                    </div>
                                    <div class="Accordion__IconContainer-sc-1jd6vdl-1 kOAmkm">
                                        <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="Arrcodion arrow" class="Accordion__IconArrow-sc-1jd6vdl-2 ewyXrB">
                                    </div>
                                </div>
                                <div class="Accordion__Content-sc-1jd6vdl-3 zRWUs">
                                    1. 결제 후 1시간 이내에는 무료 취소가 가능합니다. (단, 신청마감 이후 취소 시, 모임 진행 당일 결제 후 취소 시 취소 및 환불 불가) 2. 결제 후 1시간이 초과한 경우, 아래의 환불규정에 따라 취소수수료가 부과됩니다. - 신청마감 2일 이전 취소시 : 전액 환불 - 신청마감 1일 ~ 신청마감 이전 취소시 : 결제 금액의 50% 취소 수수료 배상 후 환불 - 신청마감 이후 취소시, 또는 당일 불참 : 환불 불가 ※ 다회권의 경우, 1회라도 사용시 부분 환불이 불가하며, 기간 내 주최자와 예약 확정 되지 않은 모임은 모임 포인트로 환불 됩니다. ※ 취소 수수료는 신청 마감일을 기준으로 산정됩니다. ※ 신청 마감일은 무엇인가요? 모임 주최자분들이 장소 대관, 강습, 재료 구비 등 모임 진행을 준비하기 위해, 모임 진행일보다 일찍 신청을 마감합니다. 환불은 진행일이 아닌 신청 마감일 기준으로 이루어집니다. 모임마다 신청 마감일이 다르니, 꼭 날짜와 시간을 확인 후 결제해주세요! : ) ※신청 마감일 기준 환불 규정 예시 - 모임 진행일 : 10월 27일 - 신청 마감일 : 10월 26일 10월 25일에 취소 할 경우, 신청마감일 1일 전에 해당하며 50%의 수수료가 발생합니다. [환불 신청 방법] 1. 해당 모임 결제한 계정으로 로그인 2. 마이 - 신청내역 or 결제내역 3. 취소를 원하는 모임 상세 정보 버튼 - 취소 ※ 결제 수단에 따라 예금주, 은행명, 계좌번호 입력
                                </div>
                            </div>
                        </article>
                    </section>
                </th:object>


                    <!--다른 모임 추천(최근 모임 게시글 5개)-->
                    <section class="ProductDetailPage__SectionContainer-sc-126q1k2-4 bremOa">
                        <article>
                            <header class="Article__Header-sc-1mmkltm-0 fCwkht">
                                <hgroup>
                                    <h2 class="Article__Title-sc-1mmkltm-1 bZNoYF">이런 모임 어때요?</h2>
                                </hgroup>
                            </header>
                            <!--모임 추천 게시글 wrap-->
                            <div class="AssociatedSection__Container-sc-1t2rh5j-0 dkOSL">
                                <!--모임 추천 게시글 실제 본문 부분-->
                                <th:block th:each="groupTop5DTO:${groupTop5DTOs}">
                                    <div class="Card__Container-c6op6d-0 jAvETA" th:object="${groupTop5DTO}">
                                        <!--랜딩 url-->
                                        <a class="recommendDetail" th:href="*{groupId}">
                                            <div class="Card__ImageContainer-c6op6d-1 chdPXL">
                                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                                        <div class="Ratio " style="display: block;">
                                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                                    <!--썸네일 이미지-->
                                                                    <img class="Image__StyledImage-v97gyx-1 VUNpz" width="500" th:src="@{/host/display(fileName=${groupTop5DTO.groupFilePath} + '/' + ${groupTop5DTO.groupFileUuid} + '_' + ${groupTop5DTO.groupFileName})}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <!--지역명-->
                                                <div class="Card__Location-c6op6d-2 hiCWJQ" th:text="*{groupLocationType}"></div>
                                                <!--제목-->
                                                <div class="Card__Title-c6op6d-3 hNmYCQ" th:text="*{groupName}"></div>
                                            </div>
                                        </a>
                                    </div>
                                </th:block>
                            </div>
                        </article>
                    </section>
                </div>

                <!--모임 신청 또는 마감 나타내기-->
                <!--모임 신청 기간 내면 활성화, 아니면 마감 이미지로-->
                <div class="Wrapper__FloatingActionBarWrapper-aopuoy-0 ifNxJR">
                    <div class="FloatingActionBar__FloatingButtonWrapper-a3gyda-0 dIeHJQ">
                        <button class="SaveActionButton__Button-sc-18l2t54-0 dQtonX enp_mobon_cart" type="button">
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' viewBox='0 0 32 32'%3E %3Cpath stroke='%23333' stroke-width='1.5' d='M15.043 19.962l-.028.02-.027.021-7.571 6.384V5.827c0-1.273 1.155-2.41 2.73-2.41h11.706c1.569 0 2.73 1.138 2.73 2.41v20.56l-7.571-6.384-.027-.022-.028-.02c-.291-.203-.634-.293-.957-.293-.323 0-.665.09-.957.294z'/%3E %3C/svg%3E" alt="상품 저장">
                            <span class="SaveActionButton__Count-sc-18l2t54-1 hxJYoP">1.1만</span>
                        </button>
                        <!--신청마감-->
                        <button class="Button-bqxlp0-0 hhkUKM Button__StyledSubmitButton-sc-1dkzbac-0 eIJDxV" width="100%" height="56px" color="white" font-size="16px" disabled="">
                            신청마감
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/community/detail.js"></script>
</html>