<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>h.hyeoniya_모임목록</title>
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/fix/chatting.css">
    <link rel="stylesheet" href="/css/bulletin_board/bulletin.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<style>
    *{
        font-family: "Noto Sans KR" !important;
    }
</style>
<body>
<div th:if="${session.userId}">
    <header th:replace="/app/fix/header.html :: header"/>
</div>
<div th:unless="${session.userId}">
    <header th:replace="/app/fix/headerModify.html:: header"/>
</div>
<div th:replace="/app/fix/chattingAll.html:: chattingAll"></div>
<div class="PageWrapper-sc-1w87j10-0 bScXKt">
    <!--    <div class="SocialFeedPage__Header-ky5ymg-1 jIjcTX">-->
    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
        <div class="sc-AxgMl fFPQpk">이번주 모임 추천👍🏻<span class="sc-AxheI eXzlnr" th:text="${#lists.size(groupDTOs)}"></span>
            <a th:href="@{/host/index}">
                <div class="writeMoveBtn" style="position: relative; float: right;" >
                    <button class="PlusLink__IconBtn-sc-7f77eh-0 faWmEE">
                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='20' viewBox='0 0 18 20'%3E %3Cpath fill='%234E5968' fill-rule='evenodd' d='M9 .765c.552 0 1 .447 1 1v7.392h7c.552 0 1 .448 1 1v.098c0 .552-.448 1-1 1h-7v7.392c0 .552-.448 1-1 1s-1-.448-1-1v-7.392H1c-.552 0-1-.448-1-1v-.098c0-.552.448-1 1-1h7V1.765c0-.553.448-1 1-1z'/%3E %3C/svg%3E" alt="+">
                    </button>
                </div>
            </a>
        </div>
    </div>

    <!--전체 리스트 부분-->
    <div class="sc-Axmtr hBVTtp">
        <div class="ProductList__ProductWrapper-sc-1lo0q2y-0 jjtvVw">


            <!--각 게시글 wrap 시작-->
            <th:block th:each="groupDTO:${groupDTOs}">
                <div class="CardProduct__Wrapper-a817d1-0 ijdqTp" th:object="${groupDTO}">
                    <!--세부 게시글로 넘어가는 부분-->
                    <a class="withLink__StyledLink-zuberk-0 lQqkn detailGroup" th:href="*{groupId}">
                        <div class="CardProduct__InfoWrapper-a817d1-1 hPIfDi">
                            <div class="CardProduct__ImageContainer-a817d1-2 eEpNrE">
                                <!--썸네일 이미지 감싸고 있는 부분-->
                                <div class="Image__Wrapper-v97gyx-0 gDuKGF CardProduct__StyledImage-a817d1-4 fRUJUy">
                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                        <div class="Ratio " style="display: block;">
                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                <div class="Ratio-content" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                    <!--썸네일 이미지-->
                                                    <!--파일 이름-->
                                                    <input th:value="*{groupFileName}" name="groupFileName" type="text" maxlength="40" class="form-control groupFileName" style="display:none;">
                                                    <!--파일 경로-->
                                                    <input th:value="*{groupFilePath}" name="groupFilePath" type="text" maxlength="40" class="form-control groupFilePath" style="display:none;">
                                                    <!--파일 크기-->
                                                    <input th:value="*{groupFileSize}" name="groupFileSize" type="text" maxlength="40" class="form-control groupFileSize" style="display:none;">
                                                    <!--파일 UUID-->
                                                    <input th:value="*{groupFileUuid}" name="groupFileUuid" type="text" maxlength="40" class="form-control groupFileUuid" style="display:none;">
                                                    <img th:src="@{/host/display-list(filename=${groupDTO.groupFilePath + '/' + groupDTO.groupFileUuid + '_' + groupDTO.groupFileName})}" class="Image__StyledImage-v97gyx-1 VUNpu" width="192">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="CardProduct__DetailContainer-a817d1-6 iDZoyW">
                                <!--지역명-->
                                <span class="CardProduct__Location-a817d1-7 hgalyK" th:text="*{groupLocationName}"></span>
                                <!--제목-->
                                <div class="CardProduct__Title-a817d1-8 kxyGXE" th:text="*{groupName}"></div>
                                <hr type="Line" size="16" class="Border-sc-1bzcz1p-0 eXQzbT">
                                <div class="CardProduct__PriceContainer-a817d1-11 gyjVwY">
                                    <div class="CardProduct__DiscountRateContainer-a817d1-13 figzTw">
                                        <!--포인트-->
                                        <div class="CardProduct__SalePrice-a817d1-12 fEyOLH" th:text="|*{groupPoint} POINT|"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </th:block>
        </div>
    </div>

        <!--페이징처리-->
        <footer class="Wrapper__PaginationWrapper-fk4uv4-0 hBVRcD">
            <div class="PaginationButtonGroup__PrevButtonWrapper-x0iffd-0 gIsDDT">
                <button width="40px" height="40px" font-size="18px" disabled="" class="Button-bqxlp0-0 ButtonPage__StyledButton-k07u44-0 iItkLq">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
                </button>
                <button width="40px" height="40px" font-size="18px" disabled="" class="Button-bqxlp0-0 ButtonPage__StyledButton-k07u44-0 iItkLq">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
                </button>
            </div>
            <button width="40px" height="40px" color="#3397ff" font-size="18px" font-weight="bold" class="Button-bqxlp0-0 ButtonPage__StyledButton-k07u44-0 RPlDq">
                1
            </button>
            <button width="40px" height="40px" color="black" font-size="18px" font-weight="normal" class="Button-bqxlp0-0 ButtonPage__StyledButton-k07u44-0 laOFLe">
                2
            </button>
            <div class="PaginationButtonGroup__NextButtonWrapper-x0iffd-1 eNIHag">
                <button width="40px" height="40px" font-size="18px" class="Button-bqxlp0-0 ButtonPage__StyledButton-k07u44-0 garfld">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M18 0H0v18h18z'/%3E %3Cpath stroke='%23000' stroke-width='1.5' d='M7 5l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 dQqQMu">
                </button>
                <button width="40px" height="40px" font-size="18px" class="Button-bqxlp0-0 ButtonPage__StyledButton-k07u44-0 garfld">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='40' height='40' fill='%23FFF' fill-opacity='0' fill-rule='nonzero' rx='20'/%3E %3Cg stroke='%23000' stroke-width='1.5'%3E %3Cpath d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 dQqQMu">
                </button>
            </div>
        </footer>
    </div>
</div>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/fix/chatting.js"></script>
<script src="/js/bulletin_board/bulletin_board.js"></script>
</html>