<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>h.hyeoniya_상세페이지</title>
    <link rel="stylesheet" href="/css/community/detail.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<style>
    *{
        font-family: "Noto Sans KR" !important;
    }
</style>
<body>
<header th:replace="/app/fix/header.html :: header"></header>
<div class="ProductDetailPage__Wrapper-sc-126q1k2-0 CijWU">
    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
        <div class="ProductDetailPage__ContentWrapper-sc-126q1k2-1 eNYAxQ">
            <div class="ProductDetailPage__ProductDetailContainer-sc-126q1k2-2 jAFMyC">
                <div class="HeadSection__Wrapper-ty4t88-0 fZHPAt">
                    <div class="RepresentationImageSection__Wrapper-mdp59s-0 cTEgEx">
                        <div class="ImageSlider__SliderWrapper-sc-1obm2ug-0 dueCVJ">
                            <div class="slick-slider ImageSlider__StyledSlider-sc-1obm2ug-1 cOsMnB slick-initialized" dir="ltr">

                                <div class="slick-list">
                                    <div class="slick-track" style="opacity: 1; transform: translate3d(-375px, 0px, 0px); width: 2625px;">
                                        <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 375px;">
                                            <div>
                                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/20171124003478_0_20171124170857348_gwg3yv">
                                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                                        <div class="Ratio " style="display: block;">
                                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                                    <img alt="상품 이미지" class="Image__StyledImage-v97gyx-1 VUNpz" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/20171124003478_0_20171124170857348_gwg3yv">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 375px;">
                                            <div>
                                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/1703_kayak_01_1490236706090">
                                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                                        <div class="Ratio " style="display: block;">
                                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                                    <img alt="상품 이미지" class="Image__StyledImage-v97gyx-1 VUNpz" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/1703_kayak_01_1490236706090">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 375px;">
                                            <div>
                                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/160615_CityNightKayaking_3_1465356368325">
                                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                                        <div class="Ratio " style="display: block;">
                                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                                    <img alt="상품 이미지" class="Image__StyledImage-v97gyx-1 VUNpz" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/160615_CityNightKayaking_3_1465356368325">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 375px;">
                                            <div>
                                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/20171124003478_0_20171124170857348_gwg3yv">
                                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                                        <div class="Ratio " style="display: block;">
                                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                                    <img alt="상품 이미지" class="Image__StyledImage-v97gyx-1 VUNpz" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/20171124003478_0_20171124170857348_gwg3yv">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-index="3" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 375px;">
                                            <div>
                                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/1703_kayak_01_1490236706090">
                                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                                        <div class="Ratio " style="display: block;">
                                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                                    <img alt="상품 이미지" class="Image__StyledImage-v97gyx-1 VUNpz" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/1703_kayak_01_1490236706090">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-index="4" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 375px;">
                                            <div>
                                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/160615_CityNightKayaking_3_1465356368325">
                                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                                        <div class="Ratio " style="display: block;">
                                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                                    <img alt="상품 이미지" class="Image__StyledImage-v97gyx-1 VUNpz" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/160615_CityNightKayaking_3_1465356368325">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-index="5" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 375px;">
                                            <div>
                                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/20171124003478_0_20171124170857348_gwg3yv">
                                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                                        <div class="Ratio " style="display: block;">
                                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                                    <img alt="상품 이미지" class="Image__StyledImage-v97gyx-1 VUNpz" width="768" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_375/20171124003478_0_20171124170857348_gwg3yv">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="HeadSection__InfoSectionWrapper-ty4t88-1 iCZkhh">
                        <section class="Section__Wrapper-sc-15fmp0p-0 kfLoin BasicInfoSection-sc-1f238bn-0 dZdXkF">
                            <div class="BasicInfoSection__TitleWrapper-sc-1f238bn-2 cSlmkE">
                                <div class="BasicInfoSection__Row-sc-1f238bn-1 lgXxUu">
                                    <hgroup class="BasicInfoSection__TitleContainer-sc-1f238bn-3 rUBYB">
                                        <h1 class="BasicInfoSection__Title-sc-1f238bn-5 cWsrnE" style="margin-bottom:5px;">헨리가 나혼자 탄 한강 카약</h1>
                                    </hgroup>
                                    <div class="BasicInfoSection__ActionButtonContainer-sc-1f238bn-6 fOXNjA">
                                        <button class="Profile__MoreButton-sc-14xkqhl-6 lbwitP"><img
                                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='17' viewBox='0 0 4 17'%3E %3Cpath fill='%23999' fill-rule='evenodd' d='M1.57 14a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0-7a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0-7a1.5 1.5 0 110 3 1.5 1.5 0 010-3z'/%3E %3C/svg%3E"
                                                alt=""></button>
                                    </div>
                                    <!-- 수정,삭제 모달-->
                                    <div class="loungeCardContentsComponents_loungeContentsMoreButtonBox__2jERo">
                                        <!--                                            <button class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 postUpdate_1j">수정</button>-->
                                        <!--                                            <button class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 postDelete_1j">삭제</button>-->
                                        <div class="selectBox2 exchange_filter_1h active" style="display: block;">
                                            <ul class="optionList">
                                                <input type="hidden" class="exchange_filter_input" value="교환 일기">
                                                <li class="optionItem" style="border-bottom: 1px solid rgb(220 215 215);">수정</li>
                                                <li class="optionItem">삭제</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                    참가비: <span class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL">40,000원</span>
                                </div>
                            </div>
                            <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                    카테고리: <span class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL">놀기</span>
                                </div>
                            </div>
                            <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                    모집 인원: <span class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL">1~5명</span>
                                </div>
                            </div>
                            <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                    장소: <span class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL">분당</span>
                                </div>
                            </div>
                            <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                    주차 가능 여부: <span class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL">가능</span>
                                </div>
                            </div>
                            <div class="PriceInfo__PriceWrapper-sc-1s3i0u7-0 bZWTJt">
                                <div class="PriceInfo__Price-sc-1s3i0u7-2 iRfDsw">
                                    기간: <span class="PriceInfo__PriceUnit-sc-1s3i0u7-3 kWprXL">12월 2일~12월10일</span>
                                </div>
                            </div>
                        </section><section class="Section__Wrapper-sc-15fmp0p-0 kfLoin HostProfileSection__SectionWrapper-sc-1408l89-0 jFAUTZ">
                        <div class="Profile__Wrapper-sc-18xe7ny-0 gVwBVO">
                            <div class="Profile-sc-18xe7ny-1 hZQCDJ">
                                <div class="Profile__Info-sc-18xe7ny-2 ixjLkJ">
                                    <div class="Profile__ProfileImage-sc-18xe7ny-3 hEglGi">
                                        <a href="/hosts/238">
                                            <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                                <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="56" height="56" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_56/mosawXKomb_1559867469010">
                                                <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                                    <div class="Ratio " style="display: block;">
                                                        <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                            <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                                <img alt="호스트 프로필 이미지" class="Image__StyledImage-v97gyx-1 VUNpu" width="56" height="56" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_56/mosawXKomb_1559867469010">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="Profile__ProfileContent-sc-18xe7ny-5 fMiunS">
                                        <div class="Profile__HostNameWrapper-sc-18xe7ny-6 jYAYJP">
                                            <a href="/hosts/238"><span class="Profile__NickName-sc-18xe7ny-7 cZgpqN"><span>루나루-한강패들클럽</span><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E %3Cpath stroke='%23333' stroke-linecap='round' stroke-width='1.5' d='M6 3l5 5-5 5'/%3E %3C/svg%3E" alt="arrow-right"></span></a>
                                        </div>
                                        <span class="Profile__Stat-sc-18xe7ny-9 cUDkmC">프립 2<span>|</span>후기 831<span>|</span>저장 706</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    </div>
                </div>
                <section class="ProductDetailPage__SectionContainer-sc-126q1k2-4 cGKzvC"></section>
                <div class="ProductDetailPage__SectionWrapper-sc-126q1k2-3 jLKVwS">
                    <section class="ProductDetailPage__SectionContainer-sc-126q1k2-4 bremOa"><article><header class="Article__Header-sc-1mmkltm-0 blaApX"><hgroup>
                        <h2 class="Article__Title-sc-1mmkltm-1 bZNoYF">모임 소개</h2>
                    </hgroup></header>
                        <div class="DescriptionSection__DescriptionContainer-sc-1vvzceq-0 edqUZK">
                            <style type="text/css">
                                .product-description {
                                    padding: 0 20px;
                                    margin: 0;
                                }
                                .product-description img {
                                    width: calc(100% + 40px);
                                    max-width: calc(100% + 40px);
                                    margin-left: -20px;
                                }
                                .product-description li {
                                    list-style-position: inside;
                                }
                                .product-description p {
                                    margin: 0;
                                }
                                .product-description span.fr-emoticon.fr-emoticon-img {
                                    min-width: 20px;
                                    min-height: 20px;
                                    display: inline-block;
                                }
                            </style>
                            <div class="product-description">
                                <p style="box-sizing: border-box; margin: 0px; font-size: 1rem; font-weight: 300; line-height: 1.7; color: rgb(65, 65, 65); font-family: sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: -0.5px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;">
                                    <br>
                                </p>
                                <p style="box-sizing: border-box; margin: 0px; font-size: 1rem; font-weight: 300; line-height: 1.7; color: rgb(65, 65, 65); font-family: sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: -0.5px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;">
                                    <br>
                                </p>
                                <p style="box-sizing: border-box; margin: 0px; font-size: 1rem; font-weight: 300; line-height: 1.7; color: rgb(65, 65, 65); font-family: sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: -0.5px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;">
                                    <span style="box-sizing: border-box; font-weight: bold; font-size: 24px; line-height: 33px; letter-spacing: -0.5px;">한강에서 붉게 물드는&nbsp;</span>
                                </p>
                                <p style="box-sizing: border-box; margin: 0px; font-size: 1rem; font-weight: 300; line-height: 1.7; color: rgb(65, 65, 65); font-family: sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: -0.5px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;">
                                    <span style="box-sizing: border-box; font-weight: bold; font-size: 24px; line-height: 33px; letter-spacing: -0.5px;"><span style="color: rgb(65, 65, 65); font-family: sans-serif; font-size: 24px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 700; letter-spacing: -0.5px; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;;background-color: rgb(247, 218, 100);">🌞</span><span style="background-color: rgb(247, 218, 100);">&nbsp;석양 속</span>으로 들어가 볼까요? 🌞</span>
                                </p>
                                <p style="text-align:center;">
                                    <strong><span style="color: rgb(235, 107, 86);"><br>
								</span></strong>
                                </p>
                                <p style="text-align: center;">
                                    <span style="color: rgb(235, 107, 86);"><strong>대한민국 최초 선셋 및 야간카약을 런칭한</strong></span>
                                </p>
                                <p style="text-align:center;">
                                    <strong><span style="color: rgb(235, 107, 86);">루나루와 함께 새로운 한강을 만나보세요!!</span></strong>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <img src="https://res.cloudinary.com/frientrip/image/upload/c_limit,dpr_3.0,f_auto,q_auto:best,w_500/crxmcqnfdlgr1js87kpf.jpg" class="fr-fic fr-dii" style="width: 1266px;">
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <strong><span style="font-weight: bold; font-size: 18px; line-height: 22px; letter-spacing: -0.5px; color: rgb(255, 255, 255); background-color: rgb(247, 218, 100);">"헨리가 나혼자 탄 카약"</span></strong>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <span style="color:#000000;">&#xFEFF;배우 '정해인'님도 퇴근 후 저희 클럽에 와서 즐긴</span>
                                </p>
                                <p style="text-align:center;">
                                    <span style="color:#000000;">인싸라이프 "한강선셋카약"입니다.</span>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <span style="color:#000000;"><img width="860" src="https://shop-phinf.pstatic.net/20190423_60/101453111_1555995817542hPWjs_JPEG/20190423_094617.jpg?type=w860" class="fr-fic fr-dii" style="width: 1266px;"></span>
                                </p>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    <img src="https://res.cloudinary.com/frientrip/image/upload/c_limit,dpr_3.0,f_auto,q_auto:best,w_500/%ED%94%84%EB%A6%BD%EB%82%B4%EC%9A%A9_%EC%B2%AB%EB%B2%88%EC%A7%B8_fndjpz.jpg" class="fr-fic fr-dii" style="width: 1266px;">
                                </p>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    <img src="https://res.cloudinary.com/frientrip/image/upload/c_limit,dpr_3.0,f_auto,q_auto:best,w_500/%ED%94%84%EB%A6%BD%EB%82%B4%EC%9A%A9_%EB%91%90%EB%B2%88%EC%A7%B8_ts3ruk.jpg" class="fr-fic fr-dii" style="width: 1266px;">
                                </p>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    한강에서 서울 선셋 바라보기!
                                </p>
                                <p>
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <strong style="box-sizing: border-box; font-weight: 700; color: rgb(65, 65, 65); font-family: sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: -0.5px; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><span style="box-sizing: border-box; font-weight: bold; font-size: 18px; line-height: 22px; letter-spacing: -0.5px; color: rgb(235, 107, 86);">&lt;한강 선셋 카약&gt;</span></strong>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    아름다운 한강에서의 선셋 카약에 도전해보세요.
                                </p>
                                <p style="text-align:center;">
                                    매일보던 평범한 한강이 아닌 진짜 낭만적인 한강이 펼쳐집니다.
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <strong>연인, 친구 그리고 가족과 함께 즐기는 선셋 카약 🌅</strong>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    연인 혹은 친구와 함께 타고 싶다면 <strong>2인승</strong>을,&nbsp;
                                </p>
                                <p style="text-align:center;">
                                    혼자 유유자적 아름다운 한강을 즐기고 싶다면
                                </p>
                                <p style="text-align:center;">
                                    <strong>1인승</strong> 카약을 선택해주시면 된답니다.
                                </p>
                                <p style="text-align:center;">
                                    2인승이 조금 더 <u>안정감</u> 있게 카야킹을 즐길 수 있고,
                                </p>
                                <p style="text-align:center;">
                                    1인승이 더욱 <u>다이나믹</u>한 매력이 있습니다.&nbsp;
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                </p>
                                <div style="position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
                                    <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/h8GcSHSpH50?autoplay=1&amp;wmode=opaque&amp;rel=0" frameborder="0" allowfullscreen="">
                                    </iframe>
                                </div>
                                <p>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:center;">
                                    <br>
                                </p>
                                <p style="text-align:justify;">
                                    <strong>[찾아 가는 방법]</strong>
                                </p>
                                <p style="text-align:justify;">
                                    네이버 지도 루나루 한강 검색&nbsp;
                                </p>
                                <p style="text-align:justify;">
                                    서울시 송파구 백제고분로2 대진마리나
                                </p>
                                <p style="text-align:justify;">
                                    잠실새내역 6번출구 도보 15분
                                </p>
                                <p>
                                    <strong><br>
                                        *주차</strong><br>
                                    공원 공영주차장 이용부드립니다<br>
                                    한강공원 잠실 3 주차장&nbsp;
                                </p>
                                <p style="text-align:justify;">
                                    주말에 주차장이 혼잡하므로 대중교통 추천드립니다 .
                                </p>
                                <p style="text-align:justify;">
                                    <br>
                                </p>
                                <p style="text-align:justify;">
                                    <strong>[신청 시 유의사항]</strong>
                                </p>
                                <p>
                                    <strong>·&nbsp;</strong>최소 인원 미달로 인해 진행이 취소될 경우, 신청 마감 일시에 진행 취소 안내를 드리며 참가비는 전액 환불해 드립니다.
                                </p>
                                <p>
                                    <strong>·&nbsp;</strong>우천 시에도 진행되는 프립입니다. 신청 시 참고 부탁드립니다.
                                </p>
                                <p style="text-align:justify;">
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="DescriptionSection__ButtonContainer-sc-1vvzceq-1 dvQeHx">
                            <button type="button" class="ButtonMore__Button-sc-1xa20cg-0 jJfiPr"><span>상세정보 더보기</span>
                                <div class="ButtonMore__IconContainer-sc-1xa20cg-1 QiNdM">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E %3Cpath fill='%23333' fill-rule='evenodd' d='M3.21 5.203c.28-.27.735-.27 1.015 0L8.5 9.329l4.275-4.126c.28-.27.735-.27 1.015 0 .28.27.28.708 0 .979l-4.783 4.615c-.28.27-.734.27-1.014 0L3.21 6.182c-.28-.27-.28-.709 0-.98z' clip-rule='evenodd'/%3E %3C/svg%3E" alt="상세정보 arrow icon">
                                </div>
                            </button>
                        </div>
                    </article></section>
                </div>
                <section class="ProductDetailPage__SectionContainer-sc-126q1k2-4 bremOa"><article></article><article>
                    <div class="LinkAccordion__AccordionContainer-sc-1o112j5-1 cJPEOD">
                        <div class="Accordion__Container-sc-1jd6vdl-0 eGMegW">
                            <div>
                                유의 사항
                            </div>
                            <div class="Accordion__IconContainer-sc-1jd6vdl-1 kOAmkm">
                                <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="Arrcodion arrow" class="Accordion__IconArrow-sc-1jd6vdl-2 ewyXrB">
                            </div>
                        </div>
                        <div class="Accordion__Content-sc-1jd6vdl-3 zRWUs">
                            · 최소 인원 미달로 인해 진행이 취소될 경우, 신청 마감 일시에 진행 취소 안내를 드리며 참가비는 전액 환불해 드립니다. ·&nbsp;우천 시에도 진행되는 프립입니다. 신청 시 참고 부탁드립니다. · 날씨에 따라 강한 강풍으로 인해, 한강 이용이 불가하여 진행이 어려울 수 있습니다.
                        </div>
                    </div>
                </article><article>
                    <div class="LinkAccordion__AccordionContainer-sc-1o112j5-1 cJPEOD">
                        <div class="Accordion__Container-sc-1jd6vdl-0 eGMegW">
                            <div>
                                환불 정책
                            </div>
                            <div class="Accordion__IconContainer-sc-1jd6vdl-1 kOAmkm">
                                <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="Arrcodion arrow" class="Accordion__IconArrow-sc-1jd6vdl-2 ewyXrB">
                            </div>
                        </div>
                        <div class="Accordion__Content-sc-1jd6vdl-3 zRWUs">
                            1. 결제 후 1시간 이내에는 무료 취소가 가능합니다. (단, 신청마감 이후 취소 시, 프립 진행 당일 결제 후 취소 시 취소 및 환불 불가) 2. 결제 후 1시간이 초과한 경우, 아래의 환불규정에 따라 취소수수료가 부과됩니다. - 신청마감 2일 이전 취소시 : 전액 환불 - 신청마감 1일 ~ 신청마감 이전 취소시 : 결제 금액의 50% 취소 수수료 배상 후 환불 - 신청마감 이후 취소시, 또는 당일 불참 : 환불 불가 ※ 다회권의 경우, 1회라도 사용시 부분 환불이 불가하며, 기간 내 호스트와 예약 확정 되지 않은 프립은 프립 에너지로 환불 됩니다. ※ 여행사 상품의 경우 상품 상세 페이지의 여행사 환불 규정이 우선 적용 됩니다. ※ 여행사 상품, 숙박, 이벤트 상품 등 객실, 버스 등 사전 예약 확정이 필요한 프립은 예약 확정 이후 신청마감일 이전이라도 취소 및 환불 불가합니다. ※ 취소 수수료는 신청 마감일을 기준으로 산정됩니다. ※ 신청 마감일은 무엇인가요? 호스트님들이 장소 대관, 강습, 재료 구비 등 프립 진행을 준비하기 위해, 프립 진행일보다 일찍 신청을 마감합니다. 환불은 진행일이 아닌 신청 마감일 기준으로 이루어집니다. 프립마다 신청 마감일이 다르니, 꼭 날짜와 시간을 확인 후 결제해주세요! : ) ※신청 마감일 기준 환불 규정 예시 - 프립 진행일 : 10월 27일 - 신청 마감일 : 10월 26일 10월 25일에 취소 할 경우, 신청마감일 1일 전에 해당하며 50%의 수수료가 발생합니다. [환불 신청 방법] 1. 해당 프립 결제한 계정으로 로그인 2. 마이 - 신청내역 or 결제내역 3. 취소를 원하는 프립 상세 정보 버튼 - 취소 ※ 결제 수단에 따라 예금주, 은행명, 계좌번호 입력
                        </div>
                    </div>
                </article></section><section class="ProductDetailPage__SectionContainer-sc-126q1k2-4 bremOa"><article><header class="Article__Header-sc-1mmkltm-0 fCwkht"><hgroup>
                <h2 class="Article__Title-sc-1mmkltm-1 bZNoYF">이런 모임 어때요?</h2>
            </hgroup></header>
                <div class="AssociatedSection__Container-sc-1t2rh5j-0 dkOSL">
                    <div class="Card__Container-c6op6d-0 jAvETA">
                        <a href="/products/153745">
                            <div class="Card__ImageContainer-c6op6d-1 chdPXL">
                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="500" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1631672958402_208811">
                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                        <div class="Ratio " style="display: block;">
                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                    <img alt="[한강/이색데이트] 한강 카약 체험 &amp; 썬셋 카약 프로그램 (예약 가능) card" class="Image__StyledImage-v97gyx-1 VUNpz" width="500" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1631672958402_208811">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="Card__Location-c6op6d-2 hiCWJQ">
                                    강남/서초
                                </div>
                                <div class="Card__Title-c6op6d-3 hNmYCQ">
                                    [한강/이색데이트] 한강 카약 체험 &amp; 썬셋 카약 프로그램 (예약 가능)
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="Card__Container-c6op6d-0 jAvETA">
                        <a href="/products/152111">
                            <div class="Card__ImageContainer-c6op6d-1 chdPXL">
                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="500" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/KakaoTalk_20210910_094354327_12_mq2w4y">
                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                        <div class="Ratio " style="display: block;">
                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                    <img alt="[서울/반포] 인생샷 맛집! 다같이 즐겨요! 한강 카약 card" class="Image__StyledImage-v97gyx-1 VUNpz" width="500" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/KakaoTalk_20210910_094354327_12_mq2w4y">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="Card__Location-c6op6d-2 hiCWJQ">
                                    강남/서초
                                </div>
                                <div class="Card__Title-c6op6d-3 hNmYCQ">
                                    [서울/반포] 인생샷 맛집! 다같이 즐겨요! 한강 카약
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="Card__Container-c6op6d-0 jAvETA">
                        <a href="/products/133455">
                            <div class="Card__ImageContainer-c6op6d-1 chdPXL">
                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="500" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1584604065699_985601">
                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                        <div class="Ratio " style="display: block;">
                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                    <img alt="[제주] 제주의 투명한 바다를 느껴보는 카약체험 (예약 가능) card" class="Image__StyledImage-v97gyx-1 VUNpz" width="500" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1584604065699_985601">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="Card__Location-c6op6d-2 hiCWJQ">
                                    제주시
                                </div>
                                <div class="Card__Title-c6op6d-3 hNmYCQ">
                                    [제주] 제주의 투명한 바다를 느껴보는 카약체험 (예약 가능)
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="Card__Container-c6op6d-0 jAvETA">
                        <a href="/products/158244">
                            <div class="Card__ImageContainer-c6op6d-1 chdPXL">
                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="500" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%82%B9%EC%B9%B4%EB%88%84%EB%A9%94%EC%9D%B81_869c0a3e6e3850a93accb82607c2bb471f5233dd0316850f2f2f9483aaf0c97a">
                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                        <div class="Ratio " style="display: block;">
                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                    <img alt="춘천 의암호 킹카누 물길여행 card" class="Image__StyledImage-v97gyx-1 VUNpz" width="500" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%82%B9%EC%B9%B4%EB%88%84%EB%A9%94%EC%9D%B81_869c0a3e6e3850a93accb82607c2bb471f5233dd0316850f2f2f9483aaf0c97a">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="Card__Location-c6op6d-2 hiCWJQ">
                                    강원 전체
                                </div>
                                <div class="Card__Title-c6op6d-3 hNmYCQ">
                                    춘천 의암호 킹카누 물길여행
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="Card__Container-c6op6d-0 jAvETA">
                        <a href="/products/133463">
                            <div class="Card__ImageContainer-c6op6d-1 chdPXL">
                                <div class="Image__Wrapper-v97gyx-0 gDuKGF">
                                    <img class="Image__StyledImageLoader-v97gyx-2 bUFcfh" width="500" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1584610266788_43310">
                                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                                        <div class="Ratio " style="display: block;">
                                            <div class="Ratio-ratio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                <div class="Ratio-content " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                    <img alt="[제주] 바다에서 카약을 타고 낚시에 도전! 피싱카약! (예약 가능) card" class="Image__StyledImage-v97gyx-1 VUNpz" width="500" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1584610266788_43310">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="Card__Location-c6op6d-2 hiCWJQ">
                                    제주시
                                </div>
                                <div class="Card__Title-c6op6d-3 hNmYCQ">
                                    [제주] 바다에서 카약을 타고 낚시에 도전! 피싱카약! (예약 가능)
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article></section>
            </div>
            <div class="Wrapper__FloatingActionBarWrapper-aopuoy-0 ifNxJR">
                <div class="FloatingActionBar__FloatingButtonWrapper-a3gyda-0 dIeHJQ">
                    <button class="SaveActionButton__Button-sc-18l2t54-0 dQtonX enp_mobon_cart" type="button"><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' viewBox='0 0 32 32'%3E %3Cpath stroke='%23333' stroke-width='1.5' d='M15.043 19.962l-.028.02-.027.021-7.571 6.384V5.827c0-1.273 1.155-2.41 2.73-2.41h11.706c1.569 0 2.73 1.138 2.73 2.41v20.56l-7.571-6.384-.027-.022-.028-.02c-.291-.203-.634-.293-.957-.293-.323 0-.665.09-.957.294z'/%3E %3C/svg%3E" alt="상품 저장"><span class="SaveActionButton__Count-sc-18l2t54-1 hxJYoP">1.1만</span></button><button class="Button-bqxlp0-0 hhkUKM Button__StyledSubmitButton-sc-1dkzbac-0 eIJDxV" width="100%" height="56px" color="white" font-size="16px" disabled="">신청마감</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/community/detail.js"></script>
</html>