@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

:root {
    --blue: #0075ef;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --gray: #777;
    --gray-dark: #333;
    --light: #aaa;
    --lighter: #ddd;
    --primary: #5e72e4;
    --secondary: #f7fafc;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #999;
    --dark: #111;
    --default: #172b4d;
    --white: #fff;
    --neutral: #fff;
    --darker: #000;
    --frip-default: #333;
    --frip-primary: #7a29fa;
    --frip-primary-secondary: #e3d1ff;
    --frip-secondary: #ddd;
    --frip-success: #45dd2c;
    --frip-success-secondary: #e3fcb2;
    --frip-warning: #ff8c26;
    --frip-danger: #eb385e;
    --frip-info: #30f2ec;
    --frip-gray: #ddd;
    --frip-primary-50: #e3d1ff;
    --frip-primary-300: #b98cff;
    --frip-primary-800: #4907b2;
    --frip-warning-100: #ffe9d3;
    --frip-gray-100: #eee;
    --frip-gray-200: #ddd;
    --frip-gray-300: #ccc;
    --frip-gray-400: #aaa;
    --frip-gray-500: #999;
    --frip-gray-600: #777;
    --frip-gray-700: #666;
    --frip-bgray-700: #d4d9da;
    --frip-bgray-900: #c5ced0;
    --frip-link: #2c5de5;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: Open Sans,sans-serif;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, :after, :before {
    box-sizing: border-box;
}
html {
    display: block;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Open Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    text-align: left;
    background-color: #eceff1;
}
#app, .modal {
    font-family: Noto Sans KR,sans-serif;
    letter-spacing: -.5px;
    color: #333;
}
@media (min-width: 1200px){
    .g-sidenav-pinned .sidenav.fixed-left+.main-content {
        margin-left: 250px;
    }
}
.navbar-vertical.navbar-expand-xs.fixed-left+.main-content {
    margin-left: 62px;
}
.sidenav.fixed-left+.main-content {
    margin-left: 62px;
    transition: all .15s ease;
}
.main-content {
    position: relative;
}
.mb-9, .my-9 {
    margin-bottom: 10rem!important;
}
.bg-white {
    background-color: #fff!important;
}

.bg-white {
    background-color: #fff!important;
}
.font-weight-bold {
    font-weight: 600!important;
}
.p-3 {
    padding: 1rem!important;
}
.m-3 {
    margin: 1rem!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row.number {
    display: flex;
    flex-wrap: nowrap!important;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 992px){
    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}
@media (max-width: 992px){
    .row.number{
        flex-wrap: wrap!important;
    }
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
[class*=shadow] {
    transition: all .15s ease;
}
.card {
    margin-bottom: 30px;
    box-shadow: none;
    border: 0;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 0.6rem;
}
.card-header:first-child {
    border-radius: calc(0.6rem - 1px) calc(0.6rem - 1px) 0 0;
}
.border-bottom-0 {
    border-bottom: 0!important;
}
.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.border-bottom {
    border-bottom: 1px solid #ddd!important;
}
[data-v-59b7de29] .nav {
    padding-inline: 3rem;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}
.nav-fill .nav-item {
    flex: 1 1 auto;
    text-align: center;
}
[data-v-59b7de29] .nav-item.nav-item.nav-item .active {
    color: #333;
    font-weight: 700;
    border-bottom: 2.5px solid #333;
}
.nav-link {
    color: #777;
}
.nav-link {
    display: block;
    padding: 0.5rem 0.75rem;
}
a, a:hover {
    text-decoration: none;
}
a {
    background-color: transparent;
}
a:-webkit-any-link {
    cursor: pointer;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem!important;
}
.pt-2, .py-2 {
    padding-top: 0.5rem!important;
}
.pl-0, .px-0 {
    padding-left: 0!important;
}
.pr-0, .px-0 {
    padding-right: 0!important;
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px !important;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.tab-content>.active {
    display: block;
}
.tab-content>.tab-pane {
    display: none;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem!important;
}
.pt-2, .py-2 {
    padding-top: 0.5rem!important;
}
.h2, h2 {
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
form {
    display: block;
    margin-top: 0em;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}

.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
}
.mt-2, .my-2 {
    margin-top: 0.5rem!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 992px){
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}
.text-wrap {
    white-space: normal!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.text-danger {
    color: #f5365c!important;
}
.ml--2, .mx--2 {
    margin-left: -0.5rem!important;
}
.position-absolute {
    position: absolute!important;
}
@media (min-width: 992px){
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.input-group {
    box-shadow: 0 3px 2px hsl(0deg 0% 87% / 5%);
    border-radius: 0.25rem;
    transition: all .15s ease-in-out;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group .form-control, .input-group .form-control:focus {
    box-shadow: none;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    font-size: .8125rem !important;
    transition: all .15s ease-in-out !important;
    height: calc(1.5em + 1.8rem + 5px) !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.8rem + 2px);
    padding: 0.9rem 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 3px 2px hsl(0deg 0% 87% / 5%);
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
}
[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.vbt-autcomplete-list[data-v-a0e87de4] {
    padding-top: 5px;
    position: absolute;
    max-height: 350px;
    overflow-y: auto;
    z-index: 999;
}
[class*=shadow] {
    transition: all .15s ease;
}
.shadow {
    box-shadow: 0 0 2rem 0 hsla(0,0%,46.7%,.15)!important;
}
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.text-sm {
    font-size: .875rem!important;
}
.text-frip-primary {
    color: #5682ad!important;
}
.mt-1, .my-1 {
    margin-top: 0.25rem!important;
}
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
hr {
    margin-top: 1em!important;
    margin-bottom: 1em!important;
    border-width: 1px;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
}
.mt-2, .my-2 {
    margin-top: 0.5rem!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 992px){
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}
form {
    display: block;
    margin-top: 0em;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
@media (min-width: 992px){
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.input-group .form-control, .input-group .form-control:focus {
    box-shadow: none;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.col-form-label {
    padding-top: calc(0.9rem + 1px);
    padding-bottom: calc(0.9rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
@media (min-width: 992px){
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}
@media (min-width: 768px){
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}
legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
@media (min-width: 992px){
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
}
@media (min-width: 768px){
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}
.w-100 {
    width: 100%!important;
}
.input-group>.form-control[data-v-72dffd28]:not(:last-child) {
    border-right: 0!important;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.is-invalid[data-v-72dffd28] {
    border-color: #de1c22!important;
}
.input-group .form-control, .input-group .form-control:focus {
    box-shadow: none;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group-append {
    margin-left: -1px;
}
.input-group-append, .input-group-prepend {
    display: flex;
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.is-invalid[data-v-72dffd28] {
    border-color: #de1c22!important;
}
.input-group-append .input-group-text {
    border-left: 0;
}
.input-group-text {
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
}
.form-control-lg, .input-group-lg .form-control, .input-group-text {
    font-size: 1rem!important;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.9rem 1rem;
    margin-bottom: 0;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #999;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}
.text-muted {
    color: #999!important;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
small {
    font-size: 80%;
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #eb385e;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.pt-1, .py-1 {
    padding-top: 0.25rem!important;
}
.form-group {
    margin-bottom: 0;
}
@media (min-width: 992px){
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
@media (min-width: 992px){
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
}
.radio-col {
    flex: 1;
    padding: 0;
    display: inline-flex;
    width: auto;
}
.selectBox[data-v-71dbc711] {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    height: 100%;
}
.selectBox[data-v-71dbc711]:hover {
    background-color: #fafafa;
}
input:focus {
    outline: none;
}

.ml-2, .mx-2 {
    margin-left: 0.5rem!important;
}

.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}
.align-self-stretch {
    align-self: stretch!important;
}
.selected[data-v-71dbc711] {
    border: 1px solid #333 !important;
    background-color: #fafafa !important;
}

.selectBox[data-v-71dbc711] {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    height: 100%;
}
@media (min-width: 992px){
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.custom-control {
    padding-left: 1.5rem;
}
.custom-control-inline {
    display: inline-flex;
    margin-right: 1.5rem;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 2.5rem;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}
.custom-radio .custom-control-input~.custom-control-label {
    cursor: pointer;
    font-size: .875rem;
    height: 1rem;
}
.custom-control-label {
    margin-bottom: 0;
}
.custom-control-label {
    position: relative;
    vertical-align: top;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.custom-radio .custom-control-input:checked~.custom-control-label:before {
    border-color: #7a29fa;
}
.custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    border-color: #7a29fa;
    background-color: #7a29fa;
    box-shadow: 0 3px 2px hsl(0deg 0% 87% / 5%);
}
.custom-radio .custom-control-label:before {
    border-radius: 50%;
}
.custom-control-label:before {
    border: 1px solid #ddd;
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
    top: 0.25rem;
    left: -1.5rem;
}
.custom-control-label:before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-control-label:after, .custom-control-label:before {
    position: absolute;
    left: -2.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
}
.custom-control-label:before {
    pointer-events: none;
    background-color: #fff;
    box-shadow: 0 3px 2px hsl(0deg 0% 87% / 5%);
}
.custom-radio .custom-control-input:checked~.custom-control-label:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}
.custom-control-label:after {
    top: 0.25rem;
    left: -1.5rem;
}
.custom-control-label:after {
    background: no-repeat 50%/50% 50%;
}
.custom-control-label:after, .custom-control-label:before {
    position: absolute;
    left: -2.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem!important;
}
.pt-2, .py-2 {
    padding-top: 0.5rem!important;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
@media (min-width: 992px){
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}
@media (min-width: 992px){
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
}
@media (min-width: 992px){
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

@media (min-width: 768px){
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
[class*=shadow] {
    transition: all .15s ease;
}
.drop[data-v-292c0328], .imgInputBox[data-v-292c0328]:hover {
    background-color: transparent;
    border: 1px dashed #0075ef;
    color: #0075ef;
    position: relative;
    min-height: 15rem;
}
.imgInputBox[data-v-292c0328] {
    background-color: transparent;
    border: 1px dashed #bfbfbf;
    position: relative;
    align-items: center;
    min-height: 15rem;
    cursor: pointer;
}
.container[data-v-292c0328] {
    padding: 0;
}
.img-text[data-v-292c0328] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container[data-v-292c0328] {
    padding: 0;
}
.my-1.container{
    margin-left: 0px!important;
}
.text-center {
    text-align: center!important;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}
input[data-v-292c0328] {
    display: none;
}

button, input {
    overflow: visible;
}
.text-frip-danger {
    color: #eb385e!important;
}
.p-4 {
    padding: 1.5rem!important;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.text-right {
    text-align: right!important;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.frip-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-group-sm>.btn, .btn-sm {
    font-size: .75rem;
}
.btn {
    position: relative;
    text-transform: none;
    transition: all .15s ease;
    letter-spacing: -.025em;
    font-size: .8125rem;
    will-change: transform;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 0.3rem 0.6rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.btn-frip-secondary {
    box-shadow: none;
}
.btn-frip-secondary:not(:disabled):not(.disabled).active, .btn-frip-secondary:not(:disabled):not(.disabled):active, .show>.btn-frip-secondary.dropdown-toggle {
    color: #fff;
    background-color: #c4c4c4;
    border-color: #ddd;
}
.btn {
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.frip-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-outline-frip-primary {
    background-color: #fff;
}
[class*=btn-outline] {
    border-width: 1px;
}
.btn-outline-frip-primary {
    color: #83aad1;
    background-color: transparent;
    background-image: none;
    border-color: #83aad1;
}
.frip-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-outline-frip-default {
    border-color: #ddd !important;
}
.btn-outline-frip-default {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #333;
}
.btn {
    border-radius: 0.25rem;
    padding: 14px;
    position: relative;
    text-transform: none;
    transition: all .15s ease;
    letter-spacing: -.025em;
    font-size: .8125rem;
    will-change: transform;
}
.btn-outline-frip-primary:not(:disabled):not(.disabled).active, .btn-outline-frip-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-frip-primary.dropdown-toggle {
    color: #fff;
    background-color: #83aad1;
    border-color: #83aad1;
}.btn-outline-frip-default:not(:disabled):not(.disabled).active, .btn-outline-frip-default:not(:disabled):not(.disabled):active, .show>.btn-outline-frip-default.dropdown-toggle {
     color: #fff;
     background-color: #333;
     border-color: #333;
 }
.btn-frip-secondary, .btn-frip-secondary:hover {
    color: #111;
    background-color: #ddd;
    border-color: #ddd;
}
.editor{
    width: 810px;
    height: 340px;
}
@media (min-width: 992px){
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}
.card-header:first-child {
    border-radius: calc(0.6rem - 1px) calc(0.6rem - 1px) 0 0;
}
.border-bottom-0 {
    border-bottom: 0!important;
}
.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
}
.sans[data-v-b5c0a92e] {
    font-family: ui-sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe
}
[data-v-b5c0a92e] {
    box-sizing: border-box;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.page-title[data-v-b5c0a92e] {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75em;
}

h1[data-v-b5c0a92e] {
    font-size: 1.875rem;
    margin-top: 1.875rem;
}
h1[data-v-b5c0a92e], h2[data-v-b5c0a92e], h3[data-v-b5c0a92e] {
    letter-spacing: -.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}
b, strong {
    font-weight: bolder;
}
.block-color-gray_background[data-v-b5c0a92e] {
    background: #f1f1ef;
}

.callout[data-v-b5c0a92e] {
    border-radius: 3px;
    padding: 1rem;
}
figure[data-v-b5c0a92e] {
    margin: 1.25em 0;
    page-break-inside: avoid;
}
.icon[data-v-b5c0a92e] {
    display: inline-block;
    max-width: 1.2em;
    max-height: 1.2em;
    text-decoration: none;
    vertical-align: text-bottom;
    margin-right: 0.5em;
}
.icon {
    width: 3rem;
    height: 3rem;
}
ul[data-v-b5c0a92e] {
    -webkit-padding-start: 1.7em;
    padding-inline-start: 1.7em;
}
ol[data-v-b5c0a92e], ul[data-v-b5c0a92e] {
    margin: 0;
    -webkit-margin-before: 0.6em;
    margin-block-start: 0.6em;
    -webkit-margin-after: 0.6em;
    margin-block-end: 0.6em;
}
ul>li[data-v-b5c0a92e] {
    padding-left: 0.1em;
}

ul>li[data-v-b5c0a92e] {
    list-style: disc;
}
.block-color-gray_background[data-v-b5c0a92e] {
    background: #f1f1ef;
}

h3[data-v-b5c0a92e] {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}
h1[data-v-b5c0a92e], h2[data-v-b5c0a92e], h3[data-v-b5c0a92e] {
    letter-spacing: -.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}
a.visited[data-v-b5c0a92e], a[data-v-b5c0a92e] {
    color: inherit;
    text-decoration: underline;
}
.toggle[data-v-b5c0a92e] {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    list-style-type: none;
}
ul.toggle>li[data-v-b5c0a92e] {
    list-style: none;
}
.toggle>li>details[data-v-b5c0a92e] {
    padding-left: 1.7em;
}
details {
    display: block;
}
.toggle>li>details>summary[data-v-b5c0a92e] {
    margin-left: -1.1em;
}
summary {
    display: list-item;
    cursor: pointer;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.sans[data-v-da60d0fa] {
    font-family: ui-sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
}
.page-title[data-v-da60d0fa] {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75em;
}
h1[data-v-da60d0fa] {
    font-size: 1.875rem;
    margin-top: 1.875rem;
}
a.visited[data-v-da60d0fa], a[data-v-da60d0fa] {
    color: inherit;
    text-decoration: underline;
}
h3[data-v-da60d0fa] {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}
p[data-v-da60d0fa] {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
p {
    font-size: 1rem;
}
ul[data-v-da60d0fa] {
    -webkit-padding-start: 1.7em;
    padding-inline-start: 1.7em;
}

ol[data-v-da60d0fa], ul[data-v-da60d0fa] {
    margin: 0;
    -webkit-margin-before: 0.6em;
    margin-block-start: 0.6em;
    -webkit-margin-after: 0.6em;
    margin-block-end: 0.6em;
}
[data-v-da60d0fa] {
    box-sizing: border-box;
}
[data-v-da60d0fa], html[data-v-da60d0fa] {
    -webkit-print-color-adjust: exact;
}
h1[data-v-da60d0fa], h2[data-v-da60d0fa], h3[data-v-da60d0fa] {
    letter-spacing: -.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}
ul>li[data-v-da60d0fa] {
    padding-left: 0.1em;
}
ul>li[data-v-da60d0fa] {
    list-style: disc;
}
.block-color-gray_background[data-v-da60d0fa] {
    background: #f1f1ef;
}
.card-header:first-child {
    border-radius: calc(0.6rem - 1px) calc(0.6rem - 1px) 0 0;
}
.border-bottom-0 {
    border-bottom: 0!important;
}
.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.sans[data-v-1353e418] {
    font-family: ui-sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
}
[data-v-1353e418] {
    box-sizing: border-box;
}

[data-v-1353e418], html[data-v-1353e418] {
    -webkit-print-color-adjust: exact;
}
.page-title[data-v-1353e418] {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75em;
}
h1[data-v-1353e418] {
    font-size: 1.875rem;
    margin-top: 1.875rem;
}
h1[data-v-1353e418], h2[data-v-1353e418], h3[data-v-1353e418] {
    letter-spacing: -.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}
a.visited[data-v-1353e418], a[data-v-1353e418] {
    color: inherit;
    text-decoration: underline;
}
.block-color-gray_background[data-v-1353e418] {
    background: #f1f1ef;
}
h3[data-v-1353e418] {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}
ul[data-v-1353e418] {
    -webkit-padding-start: 1.7em;
    padding-inline-start: 1.7em;
}
ol[data-v-1353e418], ul[data-v-1353e418] {
    margin: 0;
    -webkit-margin-before: 0.6em;
    margin-block-start: 0.6em;
    -webkit-margin-after: 0.6em;
    margin-block-end: 0.6em;
}
ul>li[data-v-1353e418] {
    padding-left: 0.1em;
}

ul>li[data-v-1353e418] {
    list-style: disc;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
img[data-v-1353e418] {
    max-width: 100%;
}
.column-list[data-v-1353e418] {
    display: flex;
    justify-content: space-between;
}
.column[data-v-1353e418]:first-child {
    padding-left: 0;
}
.column[data-v-1353e418] {
    padding: 0 1em;
}
.image[data-v-1353e418] {
    border: none;
    margin: 1.5em 0;
    padding: 0;
    border-radius: 0;
    text-align: center;
}
figure[data-v-1353e418] {
    margin: 1.25em 0;
    page-break-inside: avoid;
}
.column[data-v-1353e418]:last-child {
    padding-right: 0;
}
.callout[data-v-1353e418] {
    border-radius: 3px;
    padding: 1rem;
}
figure[data-v-1353e418] {
    margin: 1.25em 0;
    page-break-inside: avoid;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    overflow-y: auto;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade {
    transition: opacity .15s linear;
}
#app, .modal {
    font-family: Noto Sans KR,sans-serif;
    letter-spacing: -.5px;
    color: #333;
}
.modal.show .modal-dialog {
    transform: none;
}
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
}
@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 800px;
    }
}
@media (min-width: 576px){
    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}
.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}
@media (min-width: 576px){
    .modal-dialog-centered:before {
        height: calc(100vh - 3.5rem);
    }
}
.modal-dialog-centered:before {
    display: block;
    height: calc(100vh - 1rem);
    content: "";
}
@media (min-width: 576px){
    .modal-content {
        box-shadow: 0 15px 35px rgb(50 50 93 / 20%), 0 5px 15px rgb(0 0 0 / 17%);
    }
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,.2);
    border-radius: 0.4375rem;
    box-shadow: 0 15px 35px rgb(50 50 93 / 20%), 0 5px 15px rgb(0 0 0 / 17%);
    outline: 0;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.25rem;
    border-bottom: 0 solid #ddd;
    border-top-left-radius: 0.4375rem;
    border-top-right-radius: 0.4375rem;
}
.modal-title {
    font-size: 1.0625rem;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.1;
}
.modal-header .close {
    padding: 1.25rem;
    margin: -1rem -1rem -1rem auto;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.close {
    transition: all .15s ease;
}
.close, .close:hover {
    color: rgba(0,0,0,.6);
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    text-shadow: none;
    opacity: .5;
}
.close>span:not(.sr-only) {
    background-color: transparent;
    color: rgba(0,0,0,.6);
    line-height: 17px;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    font-size: 1.25rem;
    display: block;
    transition: all .15s ease;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.form-group {
    margin-bottom: 0;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
.col-form-label {
    padding-top: calc(0.9rem + 1px);
    padding-bottom: calc(0.9rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.input-group>.form-control[data-v-72dffd28]:not(:last-child) {
    border-right: 0!important;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .form-control, .input-group .form-control:focus {
    box-shadow: none;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group-append {
    margin-left: -1px;
}
.input-group-append, .input-group-prepend {
    display: flex;
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-text {
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
}
.form-control-lg, .input-group-lg .form-control, .input-group-text {
    font-size: 1rem!important;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.9rem 1rem;
    margin-bottom: 0;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #999;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}
.text-muted {
    color: #999!important;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.custom-control {
    padding-left: 1.5rem;
}
.custom-control {
    padding-left: 1.75rem;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 2.5rem;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-radio .custom-control-input~.custom-control-label {
    cursor: pointer;
    font-size: .875rem;
    height: 1rem;
}
.custom-control-label {
    margin-bottom: 0;
}
.custom-control-label {
    position: relative;
    vertical-align: top;
}
.btn:not(:last-child) {
    margin-right: 0.5rem;
}
.form-control:disabled {
    color: #999;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #f4f4f4;
    opacity: 1;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.selectBox[data-v-13e47d58] {
    padding-top: 0.8rem;
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
    padding-bottom: 0.8rem;
    display: table-cell;
    font-size: .9rem;
    border: 1px solid #ddd;
}
@media (min-width: 992px){
    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.text-right {
    text-align: right!important;
}
.btn-tab {
    padding-inline: 2rem;
}
.btn:hover {
    box-shadow: none;
    transform: translateY(-1px);
}

.btn-frip-primary, .btn-frip-primary:hover {
    color: #fff;
    background-color: #6985a0;
    border-color: #6985a0;
}
.btn:hover {
    text-decoration: none;
}
.close>span:not(.sr-only) {
    background-color: transparent;
    color: rgba(0,0,0,.6);
    line-height: 17px;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    font-size: 1.25rem;
    display: block;
    transition: all .15s ease;
}
@media (min-width: 576px){
    .modal-dialog-centered:before {
        height: calc(100vh - 3.5rem);
    }
}

.modal-dialog-centered:before {
    display: block;
    height: calc(100vh - 1rem);
    content: "";
}
.modal.show .modal-dialog {
    transform: none;
}
@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 800px;
        margin: 1.75rem auto;
    }
}
@media (min-width: 576px){
    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }
}
@media (min-width: 576px){
    .modal-dialog {
        margin: 1.75rem auto;
    }
}
.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}
.fr-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #222;
    color: #fff;
    font-size: 11px;
    line-height: 22px;
    font-family: Arial,Helvetica,sans-serif;
    -webkit-transition: opacity .2s ease 0s;
    -moz-transition: opacity .2s ease 0s;
    -ms-transition: opacity .2s ease 0s;
    -o-transition: opacity .2s ease 0s;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    left: -3000px;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 2147483647;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.custom-control-inline {
    display: inline-flex;
    margin-right: 1.5rem;
}
.selected[data-v-13e47d58] {
    border-color: #0075ef;
    color: #0075ef;
}
.description[data-v-2c2bef28] {
    color: #999;
    font-size: .8rem;
}
.btn:not(:last-child) {
    margin-right: 0.5rem;
}
.card .el-table, .card .table {
    margin-bottom: 0;
}
table[data-v-1e397a0c] {
    color: #333;
    font-size: .9rem;
    border: 1px solid #ddd;
}

.table {
    color: #333;
    font-size: .9rem;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
table {
    border-collapse: collapse;
}
thead[data-v-1e397a0c] {
    color: #777;
    background-color: #f4f4f4;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table[data-v-1e397a0c] {
    color: #333;
    font-size: .9rem;
    border: 1px solid #ddd;
}
.text-center {
    text-align: center!important;
}
.card .table th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.card .el-table td, .card .el-table th, .card .table td, .card .table th {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.el-table thead th, .table thead th {
    color: #777;
    font-size: .9rem;
    background-color: #f4f4f4;
}
.el-table thead th, .table thead th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: -.5px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.el-table td, .el-table th, .table td, .table th {
    color: #333;
    font-size: .8125rem;
    white-space: nowrap;
}
.el-table th, .table th {
    font-weight: 400;
}
.table td, .table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
th {
    text-align: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.card .table td[data-v-1e397a0c] {
    padding-left: 0;
    padding-right: 0;
}
.card .el-table td, .card .el-table th, .card .table td, .card .table th {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
table td[data-v-1e397a0c] {
    padding: 0;
    max-width: 6rem;
    min-width: 6rem;
    height: 150px;
}
.el-table td, .el-table th, .table td, .table th {
    color: #333;
    font-size: .8125rem;
    white-space: nowrap;
}
.table td, .table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.day[data-v-3655f65c] {
    height: 100%;
}
.float-left {
    float: left!important;
}
.day-btn[data-v-3655f65c] {
    color: transparent;
}
.day-btn[data-v-3655f65c], .day-btn[data-v-3655f65c]:focus {
    all: unset;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10%;
    width: 100%;
    cursor: pointer;
}
.text-gray {
    color: #777!important;
}
.float-right {
    float: right!important;
}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
}
.day[data-v-3655f65c]:hover {
    background-color: #fafafa;
}
.day[data-v-3655f65c] {
    height: 100%;
}
td:hover .day-btn[data-v-3655f65c] {
    font-size: 1.2rem;
    color: #aaa;
}
.day-btn[data-v-3655f65c] {
    color: transparent;
}
.pl-2, .px-2 {
    padding-left: 0.5rem!important;
}

.pr-2, .px-2 {
    padding-right: 0.5rem!important;
}
.pt-2, .py-2 {
    padding-top: 0.5rem!important;
}
.el-select {
    display: inline-block;
    position: relative;
}
.el-select>.el-input {
    display: block;
}
.el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.el-select .el-input .el-input__inner {
    font-size: .8125rem;
    width: 100%;
    height: calc(1.5em + 1.8rem + 2px);
    transition: all .15s ease-in-out;
}

.el-select .el-input__inner {
    cursor: pointer;
    padding-right: 35px;
}
.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    width: 100%;
}
.el-input__suffix {
    right: 5px;
    transition: all .3s;
    pointer-events: none;
}
.el-input__prefix, .el-input__suffix {
    position: absolute;
    top: 0;
    -webkit-transition: all .3s;
    height: 100%;
    color: #c0c4cc;
    text-align: center;
}
.el-input__suffix-inner {
    pointer-events: all;
}
.el-select .el-input .el-select__caret {
    color: #c0c4cc;
    font-size: 14px;
    transition: transform .3s;
    transform: rotate(180deg);
    cursor: pointer;
}
.el-select .el-input .el-select__caret {
    color: #000;
}
.el-input__icon {
    height: 100%;
    width: 25px;
    text-align: center;
    transition: all .3s;
    line-height: 40px;
}
.el-input__icon:after {
    content: "";
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}
.pb-1, .py-1 {
    padding-bottom: 0.25rem!important;
}
@media (min-width: 992px){
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.flex-grow-0 {
    flex-grow: 0!important;
}
input[type=date][data-v-5e3a1fba] {
    padding-right: 1.8rem;
}
.input-group[data-v-5e3a1fba]:after {
    content: "";
    background-image: url('https://frip.host/img/calendar.7c833862.svg');
    position: absolute;
    top: 20px;
    right: 20px;
    width: 22px;
    height: 22px;
    pointer-events: none;
    z-index: 3;
}
input[type=date][data-v-5e3a1fba] {
    padding-right: 1.8rem;
}
input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
    -webkit-appearance: listbox;
}
.el-select {
    display: inline-block;
    position: relative;
}
.el-select>.el-input {
    display: block;
}
.el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.el-input__suffix-inner {
    pointer-events: all;
}
.el-select .el-input .el-select__caret {
    color: #c0c4cc;
    font-size: 14px;
    transition: transform .3s;
    transform: rotate(180deg);
    cursor: pointer;
}
.el-icon-arrow-up:before {
    background: url('https://frip.host/img/down-arrow.b55e9493.svg');
    content: "";
}
.el-input__icon:after {
    content: "";
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}
.mb-auto, .my-auto {
    margin-bottom: auto!important;
}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
@media (min-width: 576px){
    .form-inline .form-group {
        flex: 0 0 auto;
        flex-flow: row wrap;
    }
}
@media (min-width: 576px){
    .form-inline .form-group, .form-inline label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
}
.mr-3, .mx-3 {
    margin-right: 1rem!important;
}
.el-select .el-input .el-select__caret.is-reverse {
    transform: rotate(0);
}
.ml-3, .mx-3 {
    margin-left: 1rem!important;
}
@media (min-width: 576px){
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}
.input-group-append .input-group-text {
    border-left: 0;
}
.input-group>.form-control[data-v-307da538]:not(:last-child) {
    border-right: 0!important;
}
.form-control:focus {
    color: #333;
    background-color: #fff;
    border-color: #7a29fa;
    outline: 0;
    box-shadow: 0 3px 9px rgb(50 50 9 / 0%), 3px 4px 8px rgb(122 41 250 / 10%);
}

.fixed-bottom[data-v-59b7de29] {
    width: 100%;
    left: auto;
    transition: all .15s ease;
    z-index: 999;
}
.bg-white {
    background-color: #fff!important;
}
.p-2 {
    padding: 0.5rem!important;
}
.fixed-bottom {
    bottom: 0;
}
.fixed-bottom, .fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.border-top {
    border-top: 1px solid #ddd!important;
}
.image-header[data-v-292c0328] {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0 16px 0 10px;
    background: rgba(17,17,17,.3);
    z-index: 2;
}
.image-header button[data-v-292c0328] {
    padding: 0;
    border: 0;
    background-color: transparent;
}
.img-box[data-v-292c0328] {
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.img-text[data-v-292c0328] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#placeAddress.form-control.is-invalid{
    border-color: #de1c22;
}
.fa, .fas {
    font-weight: 900;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
}
tr[data-v-52931a0e] {
    height: 40px;
}
tr th[data-v-52931a0e] {
    background-color: #f4f4f4;
}
.border {
    border: 1px solid #ddd!important;
}
.week td:first-child div.text-gray{
    color: #f5365c !important;
}
.week td:last-child div.text-gray{
    color: #41a0ff !important;
}
.float-left {
    float: left!important;
}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
}
.p-1 {
    padding: 0.25rem!important;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
}
.mt-2, .my-2 {
    margin-top: 0.5rem!important;
}
.rounded {
    border-radius: 0.375rem!important;
}
.bg-frip-primary-50 {
    background-color: #dbedff!important;
}
.btn-outline-frip-danger {
    color: #eb385e;
    background-color: transparent;
    background-image: none;
    border-color: #eb385e;
}

.alertMsg {
    display: block;
    font-size: .8rem;
    color: red;
    margin-right: 1.5rem!important;
    letter-spacing: -.5px;
}