.dYgwii {
    padding: 20px 0px;
    font-size: 18px;
    margin-top: 20px;
}

.dEMLJa {
    font-weight: bold;
}

.dOZKyh {
    font-weight: 300;
    margin-left: 8px;
}

.eqAEeH {
    position: relative;
}
.gRnEmw {
    display: flex;
    padding-top: 5px;
    padding-bottom: 40px;
    overflow-x: auto;
    white-space: nowrap;
}
.gRnEmw > * {
    margin-right: 16px;
}
.gymLjt {
    display: flex;
}
.NVKNq {
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}
.fFBpBV {
    width: auto;
    height: auto;
    line-height: 14px;
    padding: 11px 20px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    color: initial;
    font-size: 14px;
    font-weight: 500;
}
.koasSX {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
}
.kdumyH {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 100px;
}
img {
    border-style: none;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
.cVpYem {
    font-size: 11px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    color: rgb(155, 155, 155);
    margin-top: 10px;
}
p, label {
    margin: 0px;
}
