<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 변경 - 나의 바다(MyOcean)</title>
  <link rel="stylesheet" href="/css/myPage/passwordChange.css">
  <link rel="stylesheet" href="/css/fix/header.css">
  <link rel="stylesheet" href="/css/fix/footer.css">
</head>
<div th:if="${session.userId}">
  <header th:replace="/app/fix/header.html :: header"/>
</div>
<div th:unless="${session.userId}">
  <header th:replace="/app/fix/headerModify.html:: header"/>
</div>
<body class="fontLoaded">
<div id="app">
  <div class="PageWrapper dqLSTf">
    <div class="Center_Wrapper gVBJBr">
      <h3>비밀번호 변경</h3>
    </div>
    <form class="LoginRegister_LoginRegisterForm fjvnva">
      <div>
        <input type="password" name="oldPassword" placeholder="기존 비밀번호 입력" class="Form__Input iRBMai">
      </div>
      <div>
        <input type="password" name="newPassword" placeholder="새 비밀번호 입력" class="Form__Input iRBMai">
        <p class="Form__Description cIOZzg">대/소문자, 숫자, 특수문자 중 2가지 이상의 조합으로 10자 이상</p>
      </div>
      <div>
        <input type="password" name="newPasswordConfirm" placeholder="새 비밀번호 한번 더 입력" class="Form__Input iRBMai">
      </div>
      <p id="passwordCheck" style="margin-top:0px; font-size:12px;"></p>
      <button type="submit" id="changeBtn" width="100%" height="56px" color="#f4f4f4" font-size="16px" disabled="disabled" class="Button SubmitButton__RegisterPageSubmitButton chSrfn">변경하기</button>
    </form>
  </div>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/myPage/passwordChange.js"></script>
</html>