<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/fix/header.css">
</head>
<body>
<header class="GlobalNavigationBar__Wrapper-og74wb-0 dPJHWR" th:fragment="header">
    <section class="GlobalNavigationBar__TopNavContainer-og74wb-1 lkrzmV">
        <div class="GlobalNavigationBar__TopNavMenuWrapper-og74wb-2 fWxgMt">
            <div class="GlobalNavigationBar__TopNavMenuNodeListWrapper-og74wb-3 dlTKtS">
<!--                <a href="https://frip.host" target="_blank" class="withLink__StyledA-zuberk-1 jfPgNj">-->
<!--                    <div class="GlobalNavigationBar__TopNavMenu-og74wb-4 kgHgrk">호스트 센터</div>-->
<!--                </a>-->
            </div>
            <div class="GlobalNavigationBar__TopNavMenuNodeListWrapper-og74wb-3 dlTKtS">
                <a class="withLink__StyledLink-zuberk-0 lQqkn" href="/myPage/index">
                    <!--                    <th:if="${not #strings.isEmpty(session.userId)}">-->
                    <div class="GlobalNavigationBar__TopNavMenu-og74wb-4 kgHgrk" th:if="${session.userId}"><span th:text="${session.userNickname}"></span>님
                    </div>
                </a>
                <div th:switch="${#strings.toString(session.userLoginMethod)}">
                    <button type="button" class="GlobalNavigationBar__LogoutButton-og74wb-5 jfHerU" th:case="일반" onclick="location.href='/login/generalLogout'">로그아웃</button>
                    <button type="button" class="GlobalNavigationBar__LogoutButton-og74wb-5 jfHerU" th:case="카카오" onclick="location.href='https://kauth.kakao.com/oauth/logout?client_id=e95b1771a295ce3312e3c0ef9a45a424&logout_redirect_uri=http://localhost:15000/login/kakaoLogout'">로그아웃</button>
                    <button type="button" class="GlobalNavigationBar__LogoutButton-og74wb-5 jfHerU" th:case="구글" onclick="location.href='https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost:15000/login/googleLogout'">로그아웃</button>
                    <button type="button" class="GlobalNavigationBar__LogoutButton-og74wb-5 jfHerU" th:case="네이버" onclick="location.href='/naver-login/naverLogout'">로그아웃</button>
                </div>
                <a class="withLink__StyledLink-zuberk-0 lQqkn" href="/questionBoard/index">
                    <div class="GlobalNavigationBar__TopNavMenu-og74wb-4 kgHgrk">자주 묻는 질문</div>
                </a>
<!--                <a class="withLink__StyledLink-zuberk-0 lQqkn" href="/notices">-->
<!--                    <div class="GlobalNavigationBar__TopNavMenu-og74wb-4 kgHgrk">공지사항</div>-->
<!--                </a>-->
            </div>
        </div>
    </section>
    <section class="GlobalNavigationBar__MainNavContainer-og74wb-6 fSnloG">
        <div class="GlobalNavigationBar__MainNavMenuWrapper-og74wb-7 uogLa">
            <div class="GlobalNavigationBar__MainNavLeftSection-og74wb-8 hgyAtx">
                <a class="withLink__StyledLink-zuberk-0 lQqkn" style="cursor:pointer;" th:href="@{/community/index}">
                    <div class="GlobalNavigationBar__MainNavMenu-og74wb-10 fqlSHx">
                        <div class="GlobalNavigationBar__IconWrapper-og74wb-11 bXkqmJ">
                            <img src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Crect x='11.5' y='10.5' width='7' height='7' fill='%23AAAAAA'/%3E %3Crect x='1.5' y='10.5' width='7' height='7' fill='%23AAAAAA'/%3E %3Crect x='1.5' y='0.5' width='7' height='7' fill='%23AAAAAA'/%3E %3Crect x='11.5' y='0.5' width='7' height='7' fill='%23AAAAAA'/%3E %3C/svg%3E"
                                 alt="카테고리-icon"></div>
                        <span
                                class="GlobalNavigationBar__MainLabel-og74wb-12 hqQfQn">이야기</span>
                    </div>
                </a><span class="GlobalNavigationBar__Pipe-og74wb-14 cRoOrU"></span><a
                    class="withLink__StyledLink-zuberk-0 lQqkn" href="/main/index"><img
                    src="/imgin/main/logo.png"
                    class="GlobalNavigationBar__MainLogo-og74wb-13 butSez"></a>
                <div class="GlobalNavigationBar__SearchBarWrapper-og74wb-15 dNvbrl">
                    <div class="SearchBar__Wrapper-sc-4yiuoz-0 nfXAO">
                        <div>
                            <form class="SearchForm-sc-1cktb1u-0 dLgpzE" th:action="@{/search/search}" autocomplete="off">
                                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E %3Cpath stroke='%23AAA' stroke-width='2' d='M11 17c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM15 15l4.95 4.95'/%3E %3C/svg%3E" alt="" class="MagnifierImg__MagnfierImg-vdfqqy-0 kKRRUP">
                                <input type="hidden">
                                <input type="search" name="keyword" placeholder="어떤 내용을 찾으시나요?" class="SearchInput-ojvpae-0 KfNMI" value="">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="GlobalNavigationBar__MainNavRightSection-og74wb-9 kiAeGP"><a
                    class="withLink__StyledLink-zuberk-0 lQqkn" th:href="@{/host/group-list}">
                <div class="GlobalNavigationBar__MainNavMenu-og74wb-10 fqlSHx">
                    <div class="GlobalNavigationBar__IconWrapper-og74wb-11 bXkqmJ"><img
                            src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Crect x='1' y='0.5' width='18' height='17' fill='%23AAAAAA'/%3E %3Crect x='4.375' y='13.375' width='11.25' height='0.75' stroke='white' stroke-width='0.75'/%3E %3Crect x='4.375' y='10.375' width='7.25' height='0.75' stroke='white' stroke-width='0.75'/%3E %3Cpath d='M8.87786 3.85311C8.63758 3.62543 8.31786 3.5 7.97789 3.5C7.63792 3.5 7.31829 3.62534 7.07783 3.85311L6.75005 4.16359L6.42227 3.85302C6.18189 3.62534 5.86218 3.5 5.5222 3.5C5.18223 3.5 4.86261 3.62534 4.62224 3.85311C4.12592 4.32322 4.12592 5.08808 4.62224 5.55819L6.61734 7.44794C6.65251 7.48126 6.70025 7.5 6.74995 7.5C6.79966 7.5 6.8474 7.48126 6.88257 7.44794L8.87767 5.55819C9.37408 5.08799 9.37408 4.32313 8.87786 3.85311Z' fill='white'/%3E %3C/svg%3E"
                            alt="피드-icon"></div>
                    <span class="GlobalNavigationBar__MainLabel-og74wb-12 hqQfQn">모임</span>
                </div>
            </a><a class="withLink__StyledLink-zuberk-0 lQqkn" href="/myspace/index">
                <div class="GlobalNavigationBar__MainNavMenu-og74wb-10 fqlSHx">
                    <div class="GlobalNavigationBar__IconWrapper-og74wb-11 bXkqmJ"><img
                            src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M3 0.5H17V17.5L10 11.5L3 17.5V0.5Z' fill='%23AAAAAA'/%3E %3C/svg%3E"
                            alt="저장-icon"></div>
                    <span class="GlobalNavigationBar__MainLabel-og74wb-12 hqQfQn">나의공간</span>
                </div>
            </a><a class="withLink__StyledLink-zuberk-0 lQqkn" href="/myPage/index">
                <div class="GlobalNavigationBar__MainNavMenu-og74wb-10 fqlSHx">
                    <div class="GlobalNavigationBar__IconWrapper-og74wb-11 bXkqmJ">
                        <img src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17 11H3L1 17.4H19L17 11Z' fill='%23AAAAAA'/%3E %3Ccircle cx='10' cy='5' r='4.5' fill='%23AAAAAA'/%3E %3C/svg%3E" alt="마이-icon"></div>
                    <span class="GlobalNavigationBar__MainLabel-og74wb-12 hqQfQn">마이</span>
                </div>
            </a>
            </div>
            <div class="GlobalNavigationBar__SpeechBubbleContainer-og74wb-18 ierGsl">
                <div class="SpeechBubble__Container-sc-19cq08p-0 eBDrIh"><a class="withLink__StyledLink-zuberk-0 lQqkn" href="/myAlarm/myAlarm">알람이 도착했습니다!
                </a></div>
            </div>
        </div>
    </section>
    <!-- 검색 클릭시 뜨는 검색 창 -->
    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX GlobalNavigationBar__FadePanelWrapper-og74wb-16 iEcaeY" id="serachshowone" style="opacity: 1; display: none;">
        <div class="GlobalNavigationBar__Overlay-og74wb-17 fDaxyv"></div>
        <div class="SearchPanel__Wrapper-sc-14ucggl-0 hmAqVq">
            <div class="BodyScrollLockContainer__Container-sc-19uqzq5-0 idpZym SearchPanel__Content-sc-14ucggl-1 bCcqXt">
                <section class="Section__SearchLogSection-sc-1uwgs4-0 hXOUvg">
                    <div class="PopularKeywordList__ButtonListWrapper-byofsp-0 hABglH">
                        <button height="34px" color="#3397ff" font-size="12px" font-weight="500" style="width: 92px" class="Button-bqxlp0-0 PopularKeywordList__PopularKeywordButton-byofsp-1 lodogT hoverclicks" onclick="location.href='/community/index'">자유게시판</button>
                        <button height="34px" color="#3397ff" font-size="12px" font-weight="500" style="width: 92px"  class="Button-bqxlp0-0 PopularKeywordList__PopularKeywordButton-byofsp-1 lodogT hoverclicks" onclick="location.href='/community/index'">요리이야기</button>
                        <button height="34px" color="#3397ff" font-size="12px" font-weight="500" style="width: 92px"  class="Button-bqxlp0-0 PopularKeywordList__PopularKeywordButton-byofsp-1 lodogT hoverclicks" onclick="location.href='/community/index'">운동이야기</button>
                        <button height="34px" color="#3397ff" font-size="12px" font-weight="500" style="width: 92px"  class="Button-bqxlp0-0 PopularKeywordList__PopularKeywordButton-byofsp-1 lodogT hoverclicks" onclick="location.href='/community/index'">영화이야기</button>
                        <button height="34px" color="#3397ff" font-size="12px" font-weight="500" style="width: 92px"  class="Button-bqxlp0-0 PopularKeywordList__PopularKeywordButton-byofsp-1 lodogT hoverclicks" onclick="location.href='/community/index'">책이야기</button>
                        <button height="34px" color="#3397ff" font-size="12px" font-weight="500" style="width: 92px"  class="Button-bqxlp0-0 PopularKeywordList__PopularKeywordButton-byofsp-1 lodogT hoverclicks" onclick="location.href='/community/index'">일기</button>
                        <button height="34px" color="#3397ff" font-size="12px" font-weight="500" style="width: 92px"  class="Button-bqxlp0-0 PopularKeywordList__PopularKeywordButton-byofsp-1 lodogT hoverclicks" onclick="location.href='/community/anonymous'">고민상담</button>
                        <button height="34px" color="#3397ff" font-size="12px" font-weight="500" style="width: 92px"  class="Button-bqxlp0-0 PopularKeywordList__PopularKeywordButton-byofsp-1 lodogT hoverclicks" onclick="location.href='/bulletinBoard/index'">모임</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="BottomMenuBar__Wrapper-sc-3nfr6g-0 ciqvqE">
        <a class="withLink__StyledLink-zuberk-0 lQqkn" href="/main/index">
        <span class="BottomMenuBar__MenuNode-sc-3nfr6g-1 jfjcoX">
            <img src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M10 0L2 6.78571V17.5H7.54545V12.2174H12.4545V17.5H18V6.78571L10 0Z' fill='%236A1DE3'/%3E %3C/svg%3E" alt="홈 메뉴">
            홈
        </span>
        </a>
        <a class="withLink__StyledLink-zuberk-0 lQqkn" th:href="@{/community/index}">
        <span class="BottomMenuBar__MenuNode-sc-3nfr6g-1 dUVSwM">
            <img src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Crect x='11.5' y='10.5' width='7' height='7' fill='%23CCCCCC'/%3E %3Crect x='1.5' y='10.5' width='7' height='7' fill='%23CCCCCC'/%3E %3Crect x='1.5' y='0.5' width='7' height='7' fill='%23CCCCCC'/%3E %3Crect x='11.5' y='0.5' width='7' height='7' fill='%23CCCCCC'/%3E %3C/svg%3E" alt="카테고리 메뉴">이야기</span></a>
        <a class="withLink__StyledLink-zuberk-0 lQqkn" href="/myspace/index">
        <span class="BottomMenuBar__MenuNode-sc-3nfr6g-1 dUVSwM">
            <img src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Crect x='1' y='0.5' width='18' height='17' fill='%23CCCCCC'/%3E %3Crect x='4.375' y='13.375' width='11.25' height='0.75' stroke='white' stroke-width='0.75'/%3E %3Crect x='4.375' y='10.375' width='7.25' height='0.75' stroke='white' stroke-width='0.75'/%3E %3Cpath d='M8.87786 3.85311C8.63758 3.62543 8.31786 3.5 7.97789 3.5C7.63792 3.5 7.31829 3.62534 7.07783 3.85311L6.75005 4.16359L6.42227 3.85302C6.18189 3.62534 5.86218 3.5 5.5222 3.5C5.18223 3.5 4.86261 3.62534 4.62224 3.85311C4.12592 4.32322 4.12592 5.08808 4.62224 5.55819L6.61734 7.44794C6.65251 7.48126 6.70025 7.5 6.74995 7.5C6.79966 7.5 6.8474 7.48126 6.88257 7.44794L8.87767 5.55819C9.37408 5.08799 9.37408 4.32313 8.87786 3.85311Z' fill='white'/%3E %3C/svg%3E" alt="소셜피드 메뉴">나의공간</span></a>
        <a class="withLink__StyledLink-zuberk-0 lQqkn" href="/bulletinBoard/index">
        <span class="BottomMenuBar__MenuNode-sc-3nfr6g-1 dUVSwM">
            <img src="data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M3.66669 0.5H17.6667V17.5L10.6667 11.5L3.66669 17.5V0.5Z' fill='%23CCCCCC'/%3E %3C/svg%3E" alt="저장 프립 메뉴">
            모임
        </span>
        </a>
        <div aria-hidden="true">
            <a class="withLink__StyledLink-zuberk-0 lQqkn" href="/myPage/index">
            <span class="BottomMenuBar__MenuNode-sc-3nfr6g-1 dUVSwM">
                <img src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17 11H3L1 17.4H19L17 11Z' fill='%23CCCCCC'/%3E %3Ccircle cx='10' cy='5' r='4.5' fill='%23CCCCCC'/%3E %3C/svg%3E" alt="마이 프로필 메뉴">
                마이
            </span>
            </a>
        </div>
    </nav>
</header>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script type="text/javascript">
</script>
</html>