@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    outline: none;
    font-family: inherit;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html {
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

::selection {
    background-color: #b3d4fc;
    color: #000000;
    text-shadow: none;
}

a {
    color: inherit;
    text-decoration: none;
    touch-action: manipulation;
    background-color: transparent;
    outline: none;
    font-family: inherit;
}


img {
    border-style: none;
    vertical-align: middle;
}

p, label {
    margin: 0px;
}

/* 본문 내용 시작 */
.bScXKt {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.cZvMcY {
    margin: 30px 0px 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

.vlWra {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 60px;
    line-height: 24px;
    border-bottom: 1px solid black;
    padding: 18px 0px;
    font-size: 14px;
}

.vlWra > img {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.ecqnaY {
    margin-right: 10px;
}

.vlWra input {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    height: 24px;
}

.cxqTPR {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px 0px;
    white-space: nowrap;
    overflow: auto;
}

.cxqTPR > span {
    margin-right: 20px;
}

.djWtyM {
    color: rgb(51, 151, 255);
    cursor: pointer;
}

.eCnPke {
    color: black;
    cursor: pointer;
}

.cxqTPR > span:last-child {
    margin-right: 0px;
}


/*리스트*/
.jaTQXA {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.gvlnCr {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    line-height: 24px;
    padding: 18px 0px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.fFhAfW {
    width: 100%;
    min-height: 84px;
    padding: 20px;
    background-color: rgb(239, 247, 255);
    color: rgb(74, 74, 74);
    font-size: 14px;
    line-height: 24px;
}

.fFhAfW * {
    width: 100%;
    font-family: inherit;
}

.ldvBHS {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    line-height: 24px;
    padding: 18px 0px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}

/*페이징*/
.uNgOX {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gIsDDT {
    display: flex;
    margin-right: 10px;
}

button:disabled {
    cursor: not-allowed;
}

.jVxRns {
    transform: rotate(180deg);
}

.iItkLq {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: not-allowed;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.RPlDq {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: rgb(51, 151, 255);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.laOFLe {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: black;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.eNIHag {
    display: flex;
    margin-left: 10px;
}

.garfld {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.uNgOX {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*페이징 아래 줄*/
.cOSlxV {
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 20px 0px;
    border-top: 1px solid rgb(238, 238, 238);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

/*찾는 질문이 없으신가요 */
.bjZuQZ > section:last-child {
    border-bottom: 0px;
}

.bScXKt {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.gSgESD {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 60px;
}

.jlqpgo {
    border: 1px solid rgb(0, 117, 239);
    background: rgb(255, 255, 255);
    color: rgb(0, 117, 239);
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: -0.03em;
    text-align: center;
    white-space: nowrap;
    width: auto;
    border-radius: 10px;
    padding: 10px 14px;
    font-size: 12px;
    line-height: 16px;
}

.fFhAfW {
    display: none;
}

.eAKkhX * {
    width: 100%;
    font-family: inherit;
}

.jlqpgo:hover{
    background: #F6FAFE;
}


/*답변 상태*/
.answerStatus{
    margin-right: 15px;
}

.completeAnswer{
    color: coral;
}

.readyAnswer{
    color: #0314b4;
}