@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    outline: none;
    font-family: inherit;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html {
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

::selection {
    background-color: #b3d4fc;
    color: #000000;
    text-shadow: none;
}

a {
    color: inherit;
    text-decoration: none;
    touch-action: manipulation;
    background-color: transparent;
    outline: none;
    font-family: inherit;
}


img {
    border-style: none;
    vertical-align: middle;
}

p, label {
    margin: 0px;
}

/*제목 부분*/
.jhIEWm {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.iKjpvd {
    padding: 50px 20px 20px;
    margin: 0px auto;
    max-width: 768px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.epAnZX {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: -0.72px;
    color: rgb(51, 51, 51);
}

/*본문 내용*/
.bScXKt {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.fmHjaT {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 20px 0px;
}

.fmHjaT > div {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.fPrGda {
    display: block;
    margin-bottom: 6px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;
}

.gldLBs {
    position: relative;
}

.gGztpV {
    width: 100%;
    border: 1px solid rgb(238, 238, 238);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 14px 14px 12px;
    background: rgb(250, 250, 250);
    color: rgb(17, 17, 17);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;
}

.kpRdoO:disabled {
    border: none;
    background: rgb(238, 238, 238);
    color: rgb(170, 170, 170);
}

button:disabled {
    cursor: not-allowed;
}

.fmHjaT > button {
    align-self: flex-end;
    height: 100%;
    margin-left: 8px;
}

.kpRdoO {
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: -0.03em;
    text-align: center;
    white-space: nowrap;
    width: auto;
    border-radius: 10px;
    padding: 13px 18px;
    font-size: 14px;
    line-height: 22px;
}

/*구분선*/
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

hr {
    height: 0;
    overflow: visible;
}
.cOSlxV {
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 20px 0px;
    border-top: 1px solid rgb(238, 238, 238);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

/*구분선 아래 포인트 충전 내역*/
.KOZDF {
    padding: 0px 20px;
}

.cdbJvn {
    display: block;
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.42px;
    text-align: left;
}

.hrLllS {
    display: flex;
    min-height: 100px;
}

.ckxegI {
    -webkit-box-flex: 0;
    flex: 0 0 80px;
    font-size: 10px;
    color: rgb(155, 155, 155);
    border-right: 1px solid rgb(221, 221, 221);
    position: relative;
}

.ckxegI::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 7px;
    border: 1px solid rgb(221, 221, 221);
    position: absolute;
    right: -3.5px;
    top: 3.5px;
    background-color: white;
}

.fmfynV {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    width: 0px;
}

.fGTHSO {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 22px;
}

.cgVuQs {
    font-size: 10px;
    color: rgb(155, 155, 155);
    line-height: 18px;
}

.ftNZaK {
    font-size: 20px;
    text-align: right;
    color: rgb(255, 102, 102);
}

.fwsFdo {
    font-size: 20px;
    text-align: right;
    color: rgb(51, 151, 255);
}

.kpRdoO:hover {
    background: #F6FAFE;
}
/*=====================================================*/
.gGztpV {
    width: 100%;
    border: 1px solid rgb(238, 238, 238);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 14px 14px 12px;
    background: rgb(250, 250, 250);
    color: rgb(17, 17, 17);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-right:10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.kpRdoOA {
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: -0.03em;
    text-align: center;
    white-space: nowrap;
    width: auto;
    border-radius: 10px;
    padding: 13px 18px;
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0 0 20px;
    height: 60px;
}
.kpRdoOA:hover {
    background: #F6FAFE;
}
.kpRdoOA:disabled {
    border: none;
    background: rgb(238, 238, 238);
    color: rgb(170, 170, 170);
}

.ftNZaKA {
    font-size: 20px;
    text-align: right;
    color: red;
}

/*=======================================================================*/
a, area, button, input, label, select, textarea, [tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#app, .modal {
    font-family: Noto Sans KR,sans-serif;
    letter-spacing: -.5px;
    color: #333;
}

.fade {
    transition: opacity .15s linear;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    overflow-y: auto;
}

.modal.show .modal-dialog {
    transform: none;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}


@Media(min-width:576px){
    .modal-dialog {
        margin: 1.75rem auto;
    }

    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }

    .modal-content {
        box-shadow: 0 15px 35px rgb(50 50 93 / 20%), 0 5px 15px rgb(0 0 0 / 17%);
    }

    .container {
        max-width: 540px;
    }

}

@Media(min-width:768px){

    .container {
        max-width: 720px;
    }
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

a, area, button, input, label, select, textarea, [tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,.2);
    border-radius: 0.4375rem;
    box-shadow: 0 15px 35px rgb(50 50 93 / 20%), 0 5px 15px rgb(0 0 0 / 17%);
    outline: 0;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    margin-top: 35%;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0;
}

.text-center {
    text-align: center!important;
}

.p-3 {
    padding: 1rem!important;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
}

.text-frip-primary {
    color: #5682ad!important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn-frip-primary, .btn-frip-primary:hover {
    color: #fff;
    background-color: #6985a0;
    border-color: #6985a0;
}

.btn-tab {
    padding-inline: 2rem;
}

.btn {
    border-radius: 0.25rem;
    padding: 14px;
    position: relative;
    text-transform: none;
    transition: all .15s ease;
    letter-spacing: -.025em;
    font-size: .8125rem;
    will-change: transform;
}

.frip-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

/*=======================================================================*/