::before, ::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

::selection {
	background-color: #b3d4fc;
	color: #000000;
	text-shadow: none;
}

html, body {
	width: 100%;
	font-size: 14px;
	color: black;
	word-break: normal;
	overflow-wrap: break-word;
}

html {
	box-sizing: border-box;
	cursor: default;
	font-family: sans-serif;
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

* {
	outline: none;
	font-family: inherit;
}

*, ::before, ::after {
	background-repeat: no-repeat;
	box-sizing: inherit;
}

body.fontLoaded {
	font-family: "SUIT", "UI Frip", "Noto Sans KR", Helvetica, Arial, sans-serif;
}

body {
	font-family: "SUIT", "UI Frip", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
}

#app {
	background-color: white;
	min-height: 100%;
	min-width: 100%;
}

.idXWQn {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.hKZUBk {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 88px;
	padding: 48px 0px 16px;
	background-color: rgb(2, 74, 149);
	color: white;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	z-index: 4000;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: top 100ms linear 0s;
}

.boEfOZ {
	position: fixed;
	left: 0px;
	width: 100%;
	z-index: 4000;
	bottom: 34px;
}

.eskQgv {
	display: flex;
	flex-flow: column nowrap;
	align-content: flex-start;
	margin: 0px auto;
	max-width: 808px;
	width: 100%;
	padding: 0px 20px;
	min-height: 1px;
}

.FgkIX {
	display: flex;
	flex-flow: column nowrap;
	align-content: flex-start;
	margin: 0px auto;
	max-width: 808px;
	width: 100%;
	padding: 0px;
	min-height: 653px;
}

.gVBJBr {
	width: 100%;
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
	-moz-box-align: center;
	align-items: center;
	height: 50px;
	position: relative;
}

.gVBJBr h3 {
	font-size: 18px;
	line-height: 26px;
	letter-spacing: -0.54px;
	color: rgb(51, 51, 51);
	text-align: center;
	font-weight: bold;
	margin: 0px;
}

.fjvnva {
	width: 100%;
	max-width: 400px;
	margin: 0px auto 12px;
	padding: 24px 20px;
}

.iRBMai {
	width: 100%;
	padding: 14px 14px 12px;
	color: rgb(17, 17, 17);
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.42px;
	border-radius: 3px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(238, 238, 238);
	margin: 4px 0px 8px;
	appearance: textfield;
}

.iRBMai::placeholder {
	color: rgb(170, 170, 170);
}

a, area, button, input, label, select, textarea, [tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

button, input {
	overflow: visible;
}

button, input, select, textarea {
	background-color: transparent;
	border-style: none;
	color: inherit;
	font-size: 1em;
	margin: 0;
}

.gbyPIP {
	color: rgb(170, 170, 170);
	line-height: 20px;
	float: right;
	border-bottom: 1px solid rgb(170, 170, 170);
}

a {
	color: inherit;
	text-decoration: none;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:disabled {
	cursor: not-allowed;
}

.iikbgZ {
	width: 100%;
	height: 56px;
	line-height: 24px;
	padding: 16px;
	background-color: rgb(181, 197, 214);
	text-align: center;
	cursor: not-allowed;
	border-radius: 10px;
	color: rgb(244, 244, 244);
	font-size: 16px;
	margin: 33px 0px 0px;
}

button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}

button {
	cursor: pointer;
}

button, select {
	text-transform: none;
}

.MYdft {
	padding-bottom: 60px;
	text-align: center;
	color: rgb(204, 204, 204);
	line-height: 22px;
}

.gBvQUd {
	padding-top: 16px;
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
}

.gBvQUd > a {
	margin: 0px 16px;
}

img {
	border-style: none;
}

audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

.dDCuWg {
	width: 100%;
	height: 56px;
	line-height: 24px;
	padding: 16px;
	background-color: rgb(0, 117, 239);
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	color: rgb(255, 255, 255);
	font-size: 16px;
	margin: 33px 0px 0px;
}

.bViOzS {
	margin-bottom: 6px;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.36px;
	color: rgb(222, 28, 34);
}

p, label {
	margin: 0px;
}

.bpzBFC {
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	margin-top: 10px;
	padding: 14px 16px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	line-height: 22px;
	white-space: pre-line;
	user-select: none;
	opacity: 0;
	/* transition: opacity 100ms ease-in 0s; */
	border-radius: 10px;
	min-height: 45px;
	background-color: rgb(17, 17, 17);
}
/* js 반응형 적용 부분 */
.boEfRG {
	position: fixed;
	left: 0px;
	width: 100%;
	z-index: 4000;
	bottom: 80px;
}

.ciqvqE {
	display: flex;
	justify-content: space-around;
	-moz-box-align: center;
	align-items: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: calc(56px + env(safe-area-inset-bottom));
	padding-bottom: env(safe-area-inset-bottom);
	z-index: 900;
	background-color: rgb(255, 255, 255);
	border-top: 1px solid rgb(244, 244, 244);
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}

.lQqkn {
	min-height: 1px;
}

.dUVSwM {
	width: 48px;
	height: 48px;
	display: flex;
	flex-direction: column;
	-moz-box-pack: center;
	justify-content: center;
	-moz-box-align: center;
	align-items: center;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: -0.3px;
	color: rgb(204, 204, 204);
}

.dUVSwM img {
	width: 20px;
	height: 20px;
	margin-bottom: 4px;
}

/* js 반응형 적용 부분 */

/*=======================================================================*/
a, area, button, input, label, select, textarea, [tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

#app, .modal {
	font-family: Noto Sans KR,sans-serif;
	letter-spacing: -.5px;
	color: #333;
}

.fade {
	transition: opacity .15s linear;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
	overflow-y: auto;
}

.modal.show .modal-dialog {
	transform: none;
}

.modal.fade .modal-dialog {
	transition: transform .3s ease-out;
}

.modal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - 1rem);
}


@Media(min-width:576px){
	.modal-dialog {
		margin: 1.75rem auto;
	}

	.modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto;
	}

	.modal-content {
		box-shadow: 0 15px 35px rgb(50 50 93 / 20%), 0 5px 15px rgb(0 0 0 / 17%);
	}

	.container {
		max-width: 540px;
	}

}

@Media(min-width:768px){

	.container {
		max-width: 720px;
	}
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 0.5rem;
	pointer-events: none;
}

a, area, button, input, label, select, textarea, [tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 0 solid rgba(0,0,0,.2);
	border-radius: 0.4375rem;
	box-shadow: 0 15px 35px rgb(50 50 93 / 20%), 0 5px 15px rgb(0 0 0 / 17%);
	outline: 0;
	top: 50%;
	left: 150%;
	transform: translate(-50%, -50%);
	margin-top: 35%;
}

.modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 0;
}

.text-center {
	text-align: center!important;
}

.p-3 {
	padding: 1rem!important;
}

.mt-3, .my-3 {
	margin-top: 1rem!important;
}

.text-frip-primary {
	color: #5682ad!important;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
	cursor: pointer;
}

.btn-frip-primary, .btn-frip-primary:hover {
	color: #fff;
	background-color: #6985a0;
	border-color: #6985a0;
}

.btn-tab {
	padding-inline: 2rem;
}

.btn {
	border-radius: 0.25rem;
	padding: 14px;
	position: relative;
	text-transform: none;
	transition: all .15s ease;
	letter-spacing: -.025em;
	font-size: .8125rem;
	will-change: transform;
}

.frip-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn {
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
}

[type=button], [type=reset], [type=submit], button {
	-webkit-appearance: button;
}

/*=======================================================================*/