<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 포인트</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/myQuest/todayQuest.css" type="text/css"/>
    <link rel="stylesheet" href="/css/myPage/myPage.css" type="text/css"/>
    <link rel="stylesheet" href="/css/myPoint/myPoint.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
</head>
<body>
<header th:replace="/app/fix/header.html :: header"></header>
<div>

        <div class="PcTop__Content-sc-1mni0hl-1 iKjpvd">
            <div class="PcTop__Title-sc-1mni0hl-2 epAnZX">포인트 충전</div>
            <button type="submit" class="Outlined__Button-qqupyj-0 kpRdoO" style="line-height:0.5">충전</button>
        </div>

    <div class="PageWrapper-sc-1w87j10-0 bScXKt">
        <form class="MyCoupons__InputWrapper-sc-1c3qwij-0 fmHjaT">
            <div>
                <div class="TextField__InputWrapper-sc-1l9o56e-1 gldLBs">
                    포인트 충전을 원하신다면 우측의 충전 버튼을 클릭해주세요.
                </div>
            </div>
        </form>
        <hr size="40" type="Line" class="Border-sc-1bzcz1p-0 cOSlxV">
        <div class="Padded-sc-1mbfr4n-0 KOZDF"><label class="MyEnergy__EnergyLogLabel-sc-3e7d9b-1 cdbJvn">충전 내역</label>
            <div>
                <div class="EnergyLog__Wrapper-sc-19yls83-0 hrLllS">
                    <div class="EnergyLog__CreateDate-sc-19yls83-1 ckxegI">6월 9일</div>
                    <div class="EnergyLog__ContentWrapper-sc-19yls83-2 fmfynV">
                        <div class="EnergyLog__Title-sc-19yls83-3 fGTHSO">포인트 유효기간 만료</div>
                        <div class="EnergyLog__DescriptionWrapper-sc-19yls83-4 cgVuQs"></div>
                        <div class="EnergyLog__Value-sc-19yls83-6 ftNZaK">-2,000</div>
                    </div>
                </div>
                <div class="EnergyLog__Wrapper-sc-19yls83-0 hrLllS">
                    <div class="EnergyLog__CreateDate-sc-19yls83-1 ckxegI">5월 8일</div>
                    <div class="EnergyLog__ContentWrapper-sc-19yls83-2 fmfynV">
                        <div class="EnergyLog__Title-sc-19yls83-3 fGTHSO">오늘부터 1일♥</div>
                        <div class="EnergyLog__DescriptionWrapper-sc-19yls83-4 cgVuQs">
                            <div>유효기간 2020-06-08 까지</div>
                        </div>
                        <div class="EnergyLog__Value-sc-19yls83-6 fwsFdo">+2,000</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/myPoint/myPoint.js"></script>
</html>