<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자-퀘스트 목록</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/manager/admin_quest_list.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/7f85a56ba4.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700">
</head>

<body style="overflow-x: hidden">
<div id="page_wrapper">
    <div class="totalWrap">
        <div class="left">
            <div id="menu-service-name"><img src="/imgin/admin_logo.png" style="width: 220px; height: 50px"></div>
            <div class="menu">
                <ul id="side_menubar">
                    <li><a href="/manager/index" class="item">
                        <div>대시보드</div>
                    </a>
                    </li>
                    <li><a href="#" class="item">
                        <div>회원 관리</div>
                    </a>
                        <ul class="middle_item">
                            <li><a href="/manager/userList" class="middle-items">
                                <div>회원 목록</div>
                            </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="item">
                            <div>콘텐츠 관리</div>
                        </a>
                        <ul class="middle_item">
                            <li><a href="/manager/freeBoard" class="middle-items">
                                <div>자유게시판 관리</div>
                            </a>
                            </li>
                            <li><a href="/manager/counselingBoard" class="middle-items">
                                <div>고민상담 게시판 관리</div>
                            </a>
                            </li>
                            <li><a href="/manager/groupOpenRequest" class="middle-items">
                                <div>모임 게시판 관리</div>
                            </a>
                            </li>
                            <li><a href="/manager/questList" class="middle-items">
                                <div>퀘스트 관리</div>
                            </a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="/manager/questions" class="item">
                        <div>문의사항</div>
                    </a></li>
                    <li><a href="/main/index" class="item">
                        <div>사이트 바로가기</div>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div id="header">
                <div id="header-wrapper">
                    <div id="menu-title">퀘스트 관리</div>

                </div>
                <div id="clock"></div>
            </div>
            <div id="content">
                <div id="content-top-wrapper">
                    <div id="content-top-right">
                        <div class="filter">
                            <span>퀘스트 추가</span>
                        </div>
                    </div>
                    <div id="search_box_wrapper">
                        <div id="search_box">
                            <button id="search_button">
                                <img id="serch_icon"
                                     src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E %3Cpath stroke='%23AAA' stroke-width='2' d='M11 17c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM15 15l4.95 4.95'/%3E %3C/svg%3E"
                                     alt="" class="MagnifierImg__MagnfierImg-vdfqqy-0 kKRRUP">
                            </button>
                            <input id="search_input" type="text" placeholder="퀘스트 검색">
                        </div>
                    </div>
                </div>
                <div id = "quest-register-wrapper">
                    <table class="info_table register">
                        <thead>
                        <tr>
                            <th class="thead">이름</th>
                            <th class="thead">카테고리</th>
                            <th class="thead">내용</th>
                            <th class="thead">포인트</th>
                            <th class="thead">뱃지</th>
                        </tr>
                        </thead>
                        <tr>
                            <td class="info_td"><input type="text"></td>
                            <td class="info_td"><input type="text"></td>
                            <td class="info_td"><input type="text"></td>
                            <td class="info_td"><input type="text"></td>
                            <td class="info_td">
                                <input class = "badge" type="file">
                                <img id = "preview" src="/imgin/admin_file.png" onclick ="onClickUpload()" style="width:30px;" ></td>
                        </tr>
                    </table>
                    <div class = "register-button-wrapper">
                        <button class = "register-buttons close">닫기</button>
                        <button class = "register-buttons regist">등록</button>
                    </div>
                </div>
                <div id="table-wrapper">
                    <table class="info_table">
                        <thead>
                        <tr>
                            <th class="thead"></th>
                            <th class="thead">이름</th>
                            <th class="thead">카테고리</th>
                            <th class="thead">내용</th>
                            <th class="thead">포인트</th>
                            <th class="thead">뱃지</th>
                            <th class="thead">작성 일시</th>
                            <th class="thead">관리</th>
                        </tr>
                        </thead>
                        <tr>
                            <td class="info_td">1</td>
                            <td class="info_td">회원가입 퀘스트</td>
                            <td class="info_td">활동</td>
                            <td class="info_td">회원가입을 하면 포인트와 뱃지가 제공됨</td>
                            <td class="info_td">203</td>
                            <td class="info_td"><span><img src="/imgin/admin_badge_1.png" width="30px"></span></td>
                            <td class="info_td">2022-10-12</td>
                            <td class="info_td">
                                <button class="more"><img src="/imgin/more.png" width="15px"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="info_td">1</td>
                            <td class="info_td">회원가입 퀘스트</td>
                            <td class="info_td">활동</td>
                            <td class="info_td">회원가입을 하면 포인트와 뱃지가 제공됨</td>
                            <td class="info_td">103</td>
                            <td class="info_td"><span><img src="/imgin/admin_badge_1.png" width="30px"></span></td>
                            <td class="info_td">2022-10-11</td>
                            <td class="info_td">
                                <button class="more"><img src="/imgin/more.png" width="15px"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="info_td">1</td>
                            <td class="info_td">회원가입 퀘스트</td>
                            <td class="info_td">활동</td>
                            <td class="info_td">회원가입을 하면 포인트와 뱃지가 제공됨</td>
                            <td class="info_td">183</td>
                            <td class="info_td"><span><img src="/imgin/admin_badge_1.png" width="30px"></span></td>
                            <td class="info_td">2022-10-10</td>
                            <td class="info_td">
                                <button class="more"><img src="/imgin/more.png" width="15px"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="info_td">1</td>
                            <td class="info_td">회원가입 퀘스트</td>
                            <td class="info_td">활동</td>
                            <td class="info_td">회원가입을 하면 포인트와 뱃지가 제공됨</td>
                            <td class="info_td">203</td>
                            <td class="info_td"><span><img src="/imgin/admin_badge_1.png" width="30px"></span></td>
                            <td class="info_td">2022-10-19</td>
                            <td class="info_td">
                                <button class="more"><img src="/imgin/more.png" width="15px"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="info_td">1</td>
                            <td class="info_td">회원가입 퀘스트</td>
                            <td class="info_td">활동</td>
                            <td class="info_td">회원가입을 하면 포인트와 뱃지가 제공됨</td>
                            <td class="info_td">203</td>
                            <td class="info_td"><span><img src="/imgin/admin_badge_1.png" width="30px"></span></td>
                            <td class="info_td">2022-10-12</td>
                            <td class="info_td">
                                <button class="more"><img src="/imgin/more.png" width="15px"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="info_td">1</td>
                            <td class="info_td">회원가입 퀘스트</td>
                            <td class="info_td">활동</td>
                            <td class="info_td">회원가입을 하면 포인트와 뱃지가 제공됨</td>
                            <td class="info_td">203</td>
                            <td class="info_td"><span><img src="/imgin/admin_badge_1.png" width="30px"></span></td>
                            <td class="info_td">2022-10-12</td>
                            <td class="info_td">
                                <button class="more"><img src="/imgin/more.png" width="15px"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="info_td">1</td>
                            <td class="info_td">회원가입 퀘스트</td>
                            <td class="info_td">활동</td>
                            <td class="info_td">회원가입을 하면 포인트와 뱃지가 제공됨</td>
                            <td class="info_td">203</td>
                            <td class="info_td"><span><img src="/imgin/admin_badge_1.png" width="30px"></span></td>
                            <td class="info_td">2022-10-12</td>
                            <td class="info_td">
                                <button class="more"><img src="/imgin/more.png" width="15px"></button>
                            </td>
                        </tr>




                    </table>
                </div>
                <div id="page_changer_wrapper">
                    <div id="previous_button_wrapper">
                        <button class="previous_buttons">
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                 class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
                        </button>
                        <button class="previous_buttons">
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                 class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
                        </button>
                    </div>
                    <button class="page">1</button>
                    <button class="page">2</button>
                    <button class="page">3</button>
                    <button class="page">4</button>
                    <button class="page">5</button>
                    <button class="page">6</button>
                    <button class="page">7</button>
                    <button class="page">8</button>
                    <button class="page">9</button>
                    <div id="next_button_wrapper">
                        <button class="next_buttons">
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                 class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
                        </button>
                        <button class="next_buttons">
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                 class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    let Target = document.getElementById("clock");
    let temp = 0;
    // html dom 이 다 로딩된 후 실행된다.
    $(document).ready(function () {
        // menu 클래스 바로 하위에 있는 a 태그를 클릭했을때
        $("#side_menubar>li").click(function () {
            var submenu = $(this).children("ul");


            // submenu 가 화면상에 보일때는 위로 보드랍게 접고 아니면 아래로 보드랍게 펼치기
            if (submenu.is(":visible")) {
                submenu.slideUp();
            } else if (!submenu) {
            } else {
                submenu.slideDown();

            }
        });
    });




    function clock() {
        var time = new Date();

        var month = time.getMonth();
        var date = time.getDate();
        var day = time.getDay();
        var week = ['일', '월', '화', '수', '목', '금', '토'];

        var hours = time.getHours();
        var minutes = time.getMinutes();
        var seconds = time.getSeconds();

        Target.innerText =
            `${month + 1}월 ${date}일 ${week[day]}요일 ` +
            `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;

    }

    clock();
    setInterval(clock, 1000); // 1초마다

    $('#quest-register-wrapper').hide()

    $('.filter span').click(function (){
        if(temp === 0) {
            temp++;
            $('#quest-register-wrapper').show()
        }else{
            temp--;
            $('#quest-register-wrapper').hide();

        }

    })

    let moreButtonTemp = 0;
    let $tr = $(".info_table").find('tr');
    console.log($tr)
    console.log($tr.find('.more'))

    $tr.find('.more').click(function () {
        if (moreButtonTemp === 1) {
            moreButtonTemp--;
            $(this).parent().children('.account-modal').remove();
        } else {
            moreButtonTemp++;
            //수정 모달 버튼 띄우기
            $(this).parent().append("<div class=\"account-modal\">\n" +
                "    <button class=\"account-modal-button\">수정</button>\n" +
                "</div>")

            //수정 모달 버튼 클릭시
            $(this).next().find('.account-modal-button').click(function () {
                //상단에 수정창 만들기
                $('#quest-register-wrapper').show();
                //수정창에 수정할 정보 넣기
                // $('.register td:nth-child(1)').attr("value", $(this).closest('tr').children('td:eq(1)').text())
                console.log($(this).closest('tr').children('td:eq(1)').text())
                $('.register td:nth-child(1) input').val($(this).closest('tr').children('td:eq(1)').text())
                $('.register td:nth-child(2) input').val($(this).closest('tr').children('td:eq(2)').text())
                $('.register td:nth-child(3) input').val($(this).closest('tr').children('td:eq(3)').text())
                $('.register td:nth-child(4) input').val($(this).closest('tr').children('td:eq(4)').text())
                console.log( $(this).closest('tr').children('td:eq(5)').find('img'))
                console.log($(this).closest('tr').children('td:eq(5)').find('img').attr('src'))
                $('#preview').attr('src', $(this).closest('tr').children('td:eq(5)').find('img').attr('src'))
                //수정 모달창과 버튼 삭제
                $(this).closest('.account-modal').remove()
                $(this).remove()
                moreButtonTemp--;

            })
        }
    })

    $('.close').click(function (){
        $('#quest-register-wrapper').hide();
        $('.register td:nth-child(1) input').val('')
        $('.register td:nth-child(2) input').val('')
        $('.register td:nth-child(3) input').val('')
        $('.register td:nth-child(4) input').val('')
        $('#preview').attr('src', '/imgin/admin_file.png')
        if(temp === 1){
            temp--;}else if (moreButtonTemp === 1){
            moreButtonTemp--;
        }
    })
    $('.regist').click(function (){
        alert("퀘스트가 등록됐습니다.")
        $('#quest-register-wrapper').hide();
        $('.register td:nth-child(1) input').val('')
        $('.register td:nth-child(2) input').val('')
        $('.register td:nth-child(3) input').val('')
        $('.register td:nth-child(4) input').val('')
        $('#preview').attr('src', '/imgin/admin_file.png')
        if(temp === 1){
        temp--;}else if (moreButtonTemp === 1){
            moreButtonTemp--;
        }

    })

    // 첨부파일 이미지 클릭시 파일 찾기 창 열림
    function onClickUpload(){
        let fileInput = $('input[type = file]')
        fileInput.click();
    }


    // 뱃지 이미지 썸네일 띄우기
    $(".badge").on("change", function(event) {
        let file = event.target.files[0];
        let reader = new FileReader();
        reader.onload = function(e) {
            $("#preview").attr("src", e.target.result);
        }
        reader.readAsDataURL(file);
    });

</script>

</html>