<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지 - 댓글관리(고민상담)</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/manager/admin_counseling_board_reply.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/7f85a56ba4.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700">
</head>

<body style="overflow-x: hidden">
<div id="page_wrapper">
    <div class="totalWrap">
        <div class="left">
            <div id="menu-service-name"><img src="/imgin/admin_logo.png" style="width: 220px; height: 50px"></div>
            <div class="menu">
                <ul id="side_menubar">
                    <li><a href="/manager/index" class="item">
                        <div>대시보드</div>
                    </a>
                    </li>
                    <li><a href="#" class="item">
                        <div>회원 관리</div>
                    </a>
                        <ul class="middle_item">
                            <li><a href="/manager/userList" class="middle-items">
                                <div>회원 목록</div>
                            </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="item">
                            <div>콘텐츠 관리</div>
                        </a>
                        <ul class="middle_item">
                            <li><a href="/manager/freeBoard" class="middle-items">
                                <div>커뮤니티 관리</div>
                            </a>
                            </li>
                            <li><a href="/manager/counselingBoard" class="middle-items">
                                <div>고민상담 게시판 관리</div>
                            </a>
                            </li>
                            <li><a href="/manager/groupOpenRequest" class="middle-items">
                                <div>모임 게시판 관리</div>
                            </a>
                            </li>
                            <li><a href="/manager/questList" class="middle-items">
                                <div>퀘스트 관리</div>
                            </a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="/manager/questions" class="item">
                        <div>문의사항</div>
                    </a></li>
                    <li><a href="/myPoint/managerRefund" class="item">
                        <div>환불신청 관리</div>
                    </a></li>
                    <li><a href="/main/index" class="item">
                        <div>사이트 바로가기</div>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div id="header">
                <div id="header-wrapper">
                    <div id="menu-title">고민상담 게시판 관리</div>

                </div>
                <div id="clock"></div>
            </div>
            <div id="content">
                <div id="content-top-wrapper">
                    <div id="content-top-right">
                        <div class="filter">
                            <span><a href="/manager/counselingBoard">게시글 관리</a></span>
                            <span class = "active-filter"><a href="#">댓글 관리</a></span>
                        </div>
                    </div>
                    <div id="search_box_wrapper">
                        <div id="search_box">
                            <button id="search_button">
                                <img id="serch_icon"
                                     src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E %3Cpath stroke='%23AAA' stroke-width='2' d='M11 17c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM15 15l4.95 4.95'/%3E %3C/svg%3E"
                                     alt="" class="MagnifierImg__MagnfierImg-vdfqqy-0 kKRRUP">
                            </button>
                            <input id="search_input" type="text" placeholder="댓글 검색">
                        </div>
                    </div>
                </div>
                <div id="table-wrapper">
                    <table id="info_table">
                        <thead>
                        <tr>
                            <th class="thead">게시글 번호</th>
                            <th class="thead">댓글 번호</th>
                            <th class="thead">게시글 제목</th>
                            <th class="thead">댓글 내용</th>
                            <th class="thead">작성자 닉네임</th>
                            <th class="thead">작성 일시</th>
                            <th class="thead">수정 일시</th>
                            <th class="thead">삭제</th>
                        </tr>
                        </thead>
                        <tbody class="content">
                        </tbody>

                    </table>
                </div>
                <div class="pageBody"></div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/manager/admin_counselling_board_reply.js"></script>
<script>
    let page = 1;
    let keyword = 'null';
    const $pages = $('a.changePage');

    //ajax 호출
    function show(){
        counselingReplyService.getList({
            page : page,
            keyword : keyword
        }, getList);
    }

    //    페이지를 들어올 때, ajax로 restController의 데이터를 가져온다
    show();

    //    리스트 뽑기
    function getList(replyDTO){
        let text = '';

        replyDTO.replyList.forEach(reply => {
            text += `<tr>`;
            text += `<td class="info_td">`+ reply.communityPostId +`</td>`;
            text += `<td class="info_td replyId">`+ reply.communityReplyId +`</td>`;
            text += `<td class="info_td">`+ reply.communityPostTitle +`</td>`;
            text += `<td class="info_td">`+ reply.communityReplyContent +`</td>`;
            text += `<td class="info_td">`+ reply.userNickName +`</td>`;
            text += `<td class="info_td">`+ reply.createDate +`</td>`;
            text += `<td class="info_td">`+ reply.updatedDate +`</td>`;
            text += `<td class="info_td">`;
            text += `<button class="more" onclick="removeReply(this);"><img src="/imgin/more.png" width="15px"></button>`;
            text += `</td>`;
            text += `</tr>`;
        });

        $(".content").html(text);

        showPage(replyDTO.endPage);
    }
    //페이징
    function showPage(endPage){
        let endNumber = Math.ceil(page / 10) * 10;
        let realEnd = endPage;
        let startNumber = endNumber -9;
        if(endNumber > realEnd){
            endNumber = realEnd == 0 ? '1' : realEnd;
        }

        let text ='';
        text += `<div id="page_changer_wrapper">`;
        text += `<div id="previous_button_wrapper">`;
        text += `<a class="previous_buttons changePage" onclick="changePage(${startNumber == 1? 1: startNumber-1})">`;
        text += `<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">`;
        text += `</a>`;
        text += `<a class="previous_buttons changePage" onclick="changePage(${page>1? page-1 : page})">`;
        text += `<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">`;
        text += `</a>`;
        text += `</div>`;
        for (let i=startNumber; i<=endNumber; i++){
            if(page === i){
                text += `<a class="page active">${i}</a>`;
                continue;
            }
            text += `<a class="page changePage" onclick="changePage(${i})">${i}</a>`;
        }
        text += `<div id="next_button_wrapper">`;
        text += `<a class="next_buttons changePage" onclick="changePage(${page + 1 > realEnd? realEnd : page+1})">`;
        text += `<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">`;
        text += `</a>`;
        text += `<a class="next_buttons changePage" onclick="changePage(${endNumber == realEnd ? realEnd : endNumber+1})">`;
        text += `<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">`;
        text += `</a>`;
        text += `</div>`;

        $('.pageBody').html(text);
    }

    $("#search_input").on("keyup",function(key){
        if(key.keyCode === 13) {
            keyword = $(this).val();
            page = 1;
            show();
        }
    });

    //페이지버튼 클릭 시
    function changePage(href){
        page = href;
        show();
    }

</script>

</html>