@charset "utf-8";

*{
    font-family: 'Noto Sans KR', sans-serif;
}

::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

html, body {
    width: 100%;
    font-size: 14px !important;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
    line-height: 1.5;
    background:white;
}

h2.title{
    text-align: center;
}
html,body{
    margin:0;
    padding: 0;
}

.fzBbGO {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin: 0px auto;
}

.jIjcTX {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    line-height: 20px;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: bold;
    height: 66px;
}

.koasSX {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
}

.gVPyuz {
    /*    color: rgb(51, 61, 75);
        font-weight: bold;
        font-size: 24px;*/
    margin-right: 6px;
}

.filter_wrapper{
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 10px;
}

/*셀렉트박스*/

/*border-bottom: 1px solid rgb(238, 238, 238);*/
.selectBox2 * { box-sizing: border-box; }
.selectBox2 {
    position: relative;
    width: 150px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid #eef5fa;
    background: url(/imgin/community/arrow.png) calc(100% - 12px) center no-repeat;
    background-size: 10px;
    cursor: pointer;
}


.selectBox2:after {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 35px;
    background: #eef5fa;
}

.selectBox2 .label {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;
    padding-bottom: 5px;
}

.selectBox2 .optionList {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    background: #eef5fa;
    color :black;
    list-style-type: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

.selectBox2.active .optionList {
    max-height: 500px;
}

.selectBox2 .optionItem {
    border-bottom: 1px dashed rgb(170, 72, 72);
    padding: 5px 15px 5px;
    transition: .1s;
}

.selectBox2 .optionItem:hover {
    background: rgb(175, 93, 93);
}

.selectBox2 .optionItem:last-child {
    border-bottom: 0 none;
}


.selectBox2 .optionList::-webkit-scrollbar {width: 6px;}
.selectBox2 .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox2 .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}

/*셀렉트 박스*/
.filter_wrapper{

}

.gRnEmw > * {
    margin-right: 16px;
}

.gymLjt {
    display: flex;
}

.NVKNq {
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}

.fFBpBV {
    width: auto;
    height: auto;
    line-height: 14px;
    padding: 11px 20px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    color: initial;
    font-size: 14px;
    font-weight: 500;
}

.diary_filter_1h{
    display: none;
}

.exchange_filter_1h{
    display: none;
}

