<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/myList/myList.css">
    <link rel="stylesheet" href="/css/myList/myDiary.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
</head>
<body style="margin:0;">
<header th:replace="/app/fix/header.html :: header"></header>
<div class="wholeWrap">
    <!--캘린더 부분-->
    <div class="dateForm">
        <section class="css-16df71f e12i9j8n0">
            <div class="css-8foe98 e12i9j8n2">
                <div class="css-10lvc7b e12i9j8n1">연</div>
                <div class="css-1pm7srj e12i9j8n1">월</div>
                <div class="css-1pm7srj e12i9j8n1">일</div>
            </div>

            <div class="css-zr1uxp e12i9j8n3">

                <div class="css-oys1qn e14wlar0" id="yearCheck">
                    <div class="dateText" style="text-align: center;line-height: 55.5px;">찾고 싶은 연도를 입력하세요!</div>
                    <span class="css-vvmm1k e1k52epl0 year">2011년</span>
                    <span class="css-vvmm1k e1k52epl0 year">2012년</span>
                    <span class="css-vvmm1k e1k52epl0 year">2013년</span>
                    <span class="css-vvmm1k e1k52epl0 year">2014년</span>
                    <span class="css-vvmm1k e1k52epl0 year">2015년</span>
                    <span class="css-vvmm1k e1k52epl0 year">2016년</span>
                    <span class="css-vvmm1k e1k52epl0 year">2017년</span>
                    <span class="css-vvmm1k e1k52epl0 year">2018년</span>
                    <span class="css-vvmm1k e1k52epl0 year">2019년</span>
                    <span class="css-vvmm1k e1k52epl0 year">2020년</span>
                    <span class="css-vvmm1k e1k52epl0 year">2021년</span>
                    <span class="css-vvmm1k e1k52epl0 year">2022년</span>
                </div>
                <div class="css-oys1qn e14wlar0" id="monthCheck" style="display:none;">
                    <div class="dateText" style="text-align: center;line-height: 55.5px;">찾고 싶은 월을 입력하세요!</div>
                    <span class="css-vvmm1k e1k52epl0 month">01월</span>
                    <span class="css-vvmm1k e1k52epl0 month">02월</span>
                    <span class="css-vvmm1k e1k52epl0 month">03월</span>
                    <span class="css-vvmm1k e1k52epl0 month">04월</span>
                    <span class="css-vvmm1k e1k52epl0 month">05월</span>
                    <span class="css-vvmm1k e1k52epl0 month">06월</span>
                    <span class="css-vvmm1k e1k52epl0 month">07월</span>
                    <span class="css-vvmm1k e1k52epl0 month">08월</span>
                    <span class="css-vvmm1k e1k52epl0 month">09월</span>
                    <span class="css-vvmm1k e1k52epl0 month">10월</span>
                    <span class="css-vvmm1k e1k52epl0 month">11월</span>
                    <span class="css-vvmm1k e1k52epl0 month">12월</span>
                </div>
                <div class="css-oys1qn e14wlar0" id="dayCheck" style="display:none;">
                    <div class="dateText" style="text-align: center;line-height: 21.5px;margin-top:15px;">찾고 싶은 날짜를 선택하세요!<br>일자만 선택해도 자동 입력됩니다.</div>
                    <span class="dayText">15</span>
                    <div class="dayTextArrow" style="text-align:center;">
                        <div class="prevArrow arrow"> ◀ </div>
                        <div class="nextArrow arrow"> ▶ </div>

                    </div>
                </div>
                <div class="css-16d8ppv e12i9j8n4">
                    <button role="button" color="yellow" class="css-klg5aa eklkj752">
                        <span class="css-1oteowz eklkj751">
                            <span>날짜 선택</span>
                        </span>
                    </button>
                </div>
                <div class="css-1m0g4m6 e1z35r50">
                    <button role="button" color="default" class="e1z35r53 css-1kz857u eklkj752" aria-expanded="false">
                        <span class="css-1oteowz eklkj751 selectDate"></span></button>
                </div>
            </div>
        </section>
    </div>
    <!--캘린더 마감-->


    <div id="list_page_wrapper" style="margin:0px">
        <div id="page_title_wrapper">
            <h1>내가 쓴 일기</h1>
        </div>
        <div th:replace="/app/myList/myList.html :: myListCategory"></div>
        <div id="table_wrapper">
            <ul>
                <li>
                    <div class="my_list">
                        <div class="list_title">내가 쓴 일기</div>
                        <div class="list_date">2022-10-20 10:15</div>
                    </div>
                </li>
                <li>
                    <div class="my_list">
                        <div class="list_title">내가 쓴 일기</div>
                        <div class="list_date">2022-10-20 10:15</div>
                    </div>
                </li>
                <li>
                    <div class="my_list">
                        <div class="list_title">내가 쓴 일기</div>
                        <div class="list_date">2022-10-20 10:15</div>
                    </div>
                </li>
                <li>
                    <div class="my_list">
                        <div class="list_title">내가 쓴 일기</div>
                        <div class="list_date">2022-10-20 10:15</div>
                    </div>
                </li>
                <li>
                    <div class="my_list">
                        <div class="list_title">내가 쓴 일기</div>
                        <div class="list_date">2022-10-20 10:15</div>
                    </div>
                </li>
                <li>
                    <div class="my_list">
                        <div class="list_title">내가 쓴 일기</div>
                        <div class="list_date">2022-10-20 10:15</div>
                    </div>
                </li>
                <li>
                    <div class="my_list">
                        <div class="list_title">내가 쓴 일기</div>
                        <div class="list_date">2022-10-20 10:15</div>
                    </div>
                </li>

            </ul>
            <footer id="page_changer_wrapper">
                <div id="previous_button_wrapper">
                    <button class="previous_buttons">
                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                             class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
                    </button>
                    <button class="previous_buttons">
                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                             class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
                    </button>
                </div>
                <button class="page">1</button>
                <button class="page">2</button>
                <button class="page">3</button>
                <button class="page">4</button>
                <button class="page">5</button>
                <button class="page">6</button>
                <button class="page">7</button>
                <button class="page">8</button>
                <button class="page">9</button>
                <div id="next_button_wrapper">
                    <button class="next_buttons">
                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                             class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
                    </button>
                    <button class="next_buttons">
                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                             class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
                    </button>
                </div>
            </footer>
        </div>
    </div>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/myList/myList.js"></script>
<script src="/js/myList/myDiary.js"></script>
</html>