<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="/css/myList/myList.css">
  <link rel="stylesheet" href="/css/fix/header.css">
  <link rel="stylesheet" href="/css/fix/footer.css">
</head>
<body style="margin:0;">
<header th:replace="/app/fix/header.html :: header"></header>
<div id="list_page_wrapper">
  <div id="page_title_wrapper">
    <h1>자유게시판</h1>
  </div>
  <div th:replace="/app/myList/myList.html :: myListCategory"></div>
  <div id="table_wrapper">
    <ul>
      <li>
        <div class="my_list">
          <div class="badge free">자유</div>
          <div class="list_title">고객센터 상담 서비스 일부 변경 안내</div>
          <div class="list_date">2022-10-20 10:15</div>
        </div>
      </li>
      <li>
        <div class="my_list">
          <div class="badge free">자유</div>
          <div class="list_title">고객센터 상담 서비스 일부 변경 안내</div>
          <div class="list_date">2022-10-20 10:15</div>
        </div>
      </li>
      <li>
        <div class="my_list">
          <div class="badge free">자유</div>
          <div class="list_title">고객센터 상담 서비스 일부 변경 안내</div>
          <div class="list_date">2022-10-20 10:15</div>
        </div>
      </li>
      <li>
        <div class="my_list">
          <div class="badge free">자유</div>
          <div class="list_title">고객센터 상담 서비스 일부 변경 안내</div>
          <div class="list_date">2022-10-20 10:15</div>
        </div>
      </li>
      <li>
        <div class="my_list">
          <div class="badge free">자유</div>
          <div class="list_title">고객센터 상담 서비스 일부 변경 안내</div>
          <div class="list_date">2022-10-20 10:15</div>
        </div>
      </li>
      <li>
        <div class="my_list">
          <div class="badge free">자유</div>
          <div class="list_title">고객센터 상담 서비스 일부 변경 안내</div>
          <div class="list_date">2022-10-20 10:15</div>
        </div>
      </li>
      <li>
        <div class="my_list">
          <div class="badge free">자유</div>
          <div class="list_title">고객센터 상담 서비스 일부 변경 안내</div>
          <div class="list_date">2022-10-20 10:15</div>
        </div>
      </li>
      <li>
        <div class="my_list">
          <div class="badge free">자유</div>
          <div class="list_title">고객센터 상담 서비스 일부 변경 안내</div>
          <div class="list_date">2022-10-20 10:15</div>
        </div>
      </li>
      <li>
        <div class="my_list">
          <div class="badge free">자유</div>
          <div class="list_title">고객센터 상담 서비스 일부 변경 안내</div>
          <div class="list_date">2022-10-20 10:15</div>
        </div>
      </li>
      <li>
        <div class="my_list">
          <div class="badge free">자유</div>
          <div class="list_title">고객센터 상담 서비스 일부 변경 안내</div>
          <div class="list_date">2022-10-20 10:15</div>
        </div>
      </li>

    </ul>
    <footer id = "page_changer_wrapper">
      <div id="previous_button_wrapper">
        <button class = "previous_buttons">
          <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
        </button>
        <button class = "previous_buttons">
          <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
        </button>
      </div>
      <button class="page">1</button>
      <button class="page">2</button>
      <button class="page">3</button>
      <button class="page">4</button>
      <button class="page">5</button>
      <button class="page">6</button>
      <button class="page">7</button>
      <button class="page">8</button>
      <button class="page">9</button>
      <div id="next_button_wrapper">
        <button class = "next_buttons">
          <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
        </button>
        <button class = "next_buttons">
          <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns">
        </button>
      </div>
    </footer>
  </div>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/myList/myList.js"></script>
</html>