<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/myList/myList.css">
</head>
<body>
<div th:fragment="myListCategory">
    <div id="list_filter_wrapper">
        <span class="filter"><a href="/myList/myListTotal">커뮤니티 전체</a></span>
        <!--        <span class="filter"><a href="/myList/myListFree">자유게시판</a></span>-->
        <span class="filter"><a href="/myList/myListCook">요리이야기</a></span>
        <span class="filter"><a href="/myList/myListExercise">운동이야기</a></span>
        <span class="filter"><a href="/myList/myListMovie">영화이야기</a></span>
        <span class="filter"><a href="/myList/myListBook">책이야기</a></span>
        <span class="filter"><a href="/myList/myListCounseling">고민상담</a></span>
        <span class="filter"><a href="/myList/myDiary">내가 쓴 일기</a></span>
        <span class="filter"><a href="/myList/myExchangeDiary">교환일기</a></span>
    </div>
    <div class="list_filter_wrapper" style="display:none;border:none;margin:0px 0px -25px;">
        <span class="filter filterMedia"><a href="/myList/myListTotal">전체</a></span>
        <span class="filter filterMedia"><a href="/myList/myListFree">자유게시판</a></span>
        <span class="filter filterMedia"><a href="/myList/myListCook">요리이야기</a></span>
    </div>
    <div class="list_filter_wrapper" style="display:none;border:none;margin:0px 0px -25px;">
        <span class="filter filterMedia"><a href="/myList/myListExercise">운동이야기</a></span>
        <span class="filter filterMedia"><a href="/myList/myListMovie">영화이야기</a></span>
        <span class="filter filterMedia"><a href="/myList/myListBook">책이야기</a></span>
    </div>
    <div class="list_filter_wrapper" style="display:none";>
        <span class="filter filterMedia"><a href="/myList/myListCounseling">고민상담</a></span>
        <span class="filter filterMedia"><a href="/myList/myDiary">내가 쓴 일기</a></span>
        <span class="filter filterMedia"><a href="/myList/myExchangeDiary">교환일기</a></span>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/myList/myList.js"></script>
</html>